interface/BP/doc/Xsd/ermsIFSyn.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 7.1.0.1135 (http://www.liquid-technologies.com)-->
<!--
	Schéma definující události a objekty vzniklé v jednom ERMS a přenášející se do ERMS druhého.
	Toto schéma popisuje synchroní výměnu událostí, např. formou webových služeb.
-->
<!--CHANGE 2011-04-28 Změny proti verzi připomínkované výrobci spisových služeb ze dne 24.4.2011 jsou označeny přímo v textu komentáři, začínajícími stejně jako tento řádek. Tyto změny se snaží uplatnit některé jejich připomínky. -->
<xs:schema xmlns:ess="http://mvcr.cz/ess/v_1.0.0.0" xmlns="http://nsess.public.cz/erms/v_01_01" xmlns:isds="http://isds.czechpoint.cz/v20" elementFormDefault="qualified" targetNamespace="http://nsess.public.cz/erms/v_01_01" id="ermsIFAsyn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ess_ns.xsd" namespace="http://mvcr.cz/ess/v_1.0.0.0" />
  <xs:import schemaLocation="dmBaseTypes.xsd" namespace="http://isds.czechpoint.cz/v20" />
  <xs:include schemaLocation="ermsTypes.xsd" />
  <xs:include schemaLocation="ermsAsynU.xsd" />
  <xs:complexType name="tUdalostiSyn">
    <xs:sequence maxOccurs="10">
      <xs:group ref="gUdalost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DokumentZalozeniRequest">
    <xs:annotation>
      <xs:documentation>Zaevidování nového přijatého nebo vlastního dokumentu vzniklého v agendě.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UdalostiPredchazejici" type="tUdalostiSyn" />
        <xs:element name="ProfilDokumentu" type="tProfilDokumentu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">V případě založení dokumentu se předpokládá pro položku StavSpisu povolená hodnota pouze "nevyrizen".
Položky DatumCasVyrizeni, DatumCasUzavreni, DatumCasPredaniDoSpisovny, DatumCasPredaniDoArchivuNeboStornovani se v této situaci neuvádějí.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="Zdroj" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
Při propojení ESSS a více AIS je nutné odlišit, do službu volá. 
Toto je promární identifikace volajícího systému.
Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Cil" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného. 
Volaná strana je již jednoznačně určena svou URL.
Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
K omylům může dojít především mezi ostrou, provozní instalací a testovací.
Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentZalozeniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfilDokumentu" type="tProfilDokumentu" />
        <xs:element name="OperaceStatus" type="tOperaceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisZalozeniRequest">
    <xs:annotation>
      <xs:documentation>Založení spisu nad dokumentem. Je možné založit celý spis i s dokumenty v něm, nebo je spis založen nad existujícím dokumentem.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UdalostiPredchazejici" type="tUdalostiSyn" />
        <xs:element name="ProfilSpisu" type="tProfilSpisu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">V případě založení spisu se předpokládá pro položku StavSpisu povolená hodnota pouze "nevyrizen".
Položky DatumCasVyrizeni, DatumCasUzavreni, DatumCasPredaniDoSpisovny, DatumCasPredaniDoArchivuNeboStornovani se v této situaci neuvádějí.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="Zdroj" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
Při propojení ESSS a více AIS je nutné odlišit, do službu volá. 
Toto je promární identifikace volajícího systému.
Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Cil" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného. 
Volaná strana je již jednoznačně určena svou URL.
Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
K omylům může dojít především mezi ostrou, provozní instalací a testovací.
Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisZalozeniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfilSpisu" type="tProfilSpisu" />
        <xs:element name="OperaceStatus" type="tOperaceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Odstraněna služba FindDataBoxRequest. -->
  <!--
	<xs:element name="FindDataBoxRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dbOwnerInfo" type="isds:tDbOwnerInfo"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindDataBoxResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dbResults" type="isds:tDbOwnersArray" maxOccurs="0"/>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	-->
  <xs:element name="UdalostiRequest">
    <xs:annotation>
      <xs:documentation>Pozadavek na synchronni zpracovani udalosti.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Udalosti" type="tUdalostiSyn" />
      </xs:sequence>
      <xs:attribute name="Zdroj" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
Při propojení ESSS a více AIS je nutné odlišit, do službu volá. 
Toto je promární identifikace volajícího systému.
Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Cil" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného. 
Volaná strana je již jednoznačně určena svou URL.
Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
K omylům může dojít především mezi ostrou, provozní instalací a testovací.
Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="UdalostiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Zpravy">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element ref="Zprava" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentPostoupeniZadostRequest">
    <xs:annotation>
      <xs:documentation xml:lang="CS">Volání WS s žádostí o postoupení dokumentu z ESSS do výhradní správy AIS.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdDokument" type="tIdDokument" />
        <xs:element name="Autorizace" type="tAutorizace">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Identifikace osoby, která žádá o postoupení dokumentu. Tato osoba se v případě postoupení stane aktuálním vlastníkem postoupeného dokumentu.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Zdroj" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
Při propojení ESSS a více AIS je nutné odlišit, do službu volá. 
Toto je promární identifikace volajícího systému.
Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Cil" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného. 
Volaná strana je již jednoznačně určena svou URL.
Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
K omylům může dojít především mezi ostrou, provozní instalací a testovací.
Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Sjednocen návratový datový typ. -->
  <xs:element name="DokumentPostoupeniZadostResponse">
    <xs:annotation>
      <xs:documentation xml:lang="CS">Odpověď na volání webové služby s požadavkem na postoupení ( předání do výhradní správy ) zadaného dokumentu.
Odpověď obsahuje kompletní popis postupovaného dokumentu nebo číselný a textový popis chyby. 
Volaný systém může posuzovat oprávnění přístupu uživatele k zadanému dokumentu a žádost může zamítnout tak, že vrátí místo postoupeného dokumentu chybový kód 0001 - Nedostatečná oprávnění
Za chybu je považována žádost o postoupení dokumentu, který není ve volaném systému obsažen ( na základě zadaného identifikátoru ).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!--CHANGE 2011-04-28 Sjednocen datový typ. -->
        <xs:element minOccurs="0" name="ProfilDokumentu" type="tProfilDokumentu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Kompletní popis postupovaného dokumentu. 
											Tento popis obsahuje také všechny vložené obrazy elektronických dokumentů, které jsou s postupovaným dokumentem spojeny.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OperaceStatus" type="tOperaceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Přejmenování služby a sjednocen návratový datový typ. -->
  <xs:element name="ProfilDokumentuZadostRequest">
    <xs:annotation>
      <xs:documentation xml:lang="CS">Volání WS s žádostí o poskytnutí detailních informací o dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdDokument" type="tIdDokument" />
        <xs:element name="Autorizace" type="tAutorizace">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Identifikace osoby, která žádá o informace o dokumentu. 
Tento údaj může volaný systém využít k posouzení přístupových práv k dokumentu.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Zdroj" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
Při propojení ESSS a více AIS je nutné odlišit, do službu volá. 
Toto je promární identifikace volajícího systému.
Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Cil" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného. 
Volaná strana je již jednoznačně určena svou URL.
Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
K omylům může dojít především mezi ostrou, provozní instalací a testovací.
Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Přejmenování služby a sjednocen návratový datový typ. -->
  <xs:element name="ProfilDokumentuZadostResponse">
    <xs:annotation>
      <xs:documentation xml:lang="CS">Odpověď na volání webové služby s žádostí o poskytnutí detailních informací o dokumentu.
Odpověď obsahuje kompletní popis dokumentu nebo číselný a textový popis chyby. 
Za chybu je považována žádost o informace o dokumentu, který není ve volaném systému obsažen ( na základě zadaného identifikátoru ).
Volaný systém může posuzovat oprávnění přístupu uživatele k zadanému dokumentu a žádost může zamítnout tak, že vrátí místo profilu dokumentu chybový kód 0001 - Nedostatečná oprávnění.
	</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfilDokumentu" type="tProfilDokumentu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Kompletní popis dokumentu.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OperaceStatus" type="tOperaceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Přidána chybějící služba a sjednocen návratový datový typ. -->
  <xs:element name="ProfilSpisuZadostRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdSpisu" type="tIdSpisu" />
        <xs:element name="Autorizace" type="tAutorizace">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Identifikace osoby, která žádá o informace o spisu. 
Tento údaj může volaný systém využít k posouzení přístupových práv k dokumentu.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Zdroj" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
Při propojení ESSS a více AIS je nutné odlišit, do službu volá. 
Toto je promární identifikace volajícího systému.
Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Cil" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného. 
Volaná strana je již jednoznačně určena svou URL.
Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
K omylům může dojít především mezi ostrou, provozní instalací a testovací.
Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Přidána chybějící služba a sjednocen návratový datový typ. -->
  <xs:element name="ProfilSpisuZadostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfilSpisu" type="tProfilSpisu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Kompletní popis spisu.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OperaceStatus" type="tOperaceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Přidána nová služba. Cílem je možnost rozložit jednotlivé operace s dokumenty na objemově menší operace. Tedy přenáše soubory odděleně od dokumentů a kompletních spisů. -->
  <xs:element name="SouborZadostRequest">
    <xs:annotation>
      <xs:documentation xml:lang="CS">Žádost o získání obsahu zadaného elektronického souboru.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Soubor" type="tFileId" />
        <xs:element name="Autorizace" type="tAutorizace">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Identifikace osoby, která žádá o obsah elektronického souboru.
Tento údaj může volaný systém využít k posouzení přístupových práv k obsahu elektronického souboru.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Zdroj" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje Zdroj volání - volajícího.
Při propojení ESSS a více AIS je nutné odlišit, do službu volá. 
Toto je promární identifikace volajícího systému.
Pokud jsou XML data podepsána, potom podpis slouží jako další kontrola k této identifikaci volajícího.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Cil" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="CS">Identifikuje cíl volání - volaného. 
Volaná strana je již jednoznačně určena svou URL.
Tento údaj slouží pro dodatečnou kontrolu, zda není omylem volána jiná instalace webové služby a tím i jiný systém.
K omylům může dojít především mezi ostrou, provozní instalací a testovací.
Identifikace volajícího má zabránit záměně např. testovací a ostré instalace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Přidána nová služba. Cílem je možnost rozložit jednotlivé operace s dokumenty na objemově menší operace. Tedy přenáše soubory odděleně od dokumentů a kompletních spisů. -->
  <xs:element name="SouborZadostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Soubor">
          <xs:annotation>
            <xs:documentation xml:lang="CS">El. soubor (příloha) navázaný k dokumentu nebo dokumentům. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="tFile" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="OperaceStatus" type="tOperaceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>