interface/BP/doc/Xsd/ermsAsynU.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 7.1.0.1135 (http://www.liquid-technologies.com)-->
<!--
	Schéma definující události a objekty vzniklé v jednom ERMS a přenášející se do ERMS druhého.
	Toto schéma popisuje asynchroní výměnu událostí, např. formou dávek.
-->
<!--CHANGE 2011-04-28 Změny proti verzi připomínkované výrobci spisových služeb ze dne 24.4.2011 jsou označeny přímo v textu komentáři, začínajícími stejně jako tento řádek. Tyto změny se snaží uplatnit některé jejich připomínky. -->
<xs:schema xmlns:ess="http://mvcr.cz/ess/v_1.0.0.0" xmlns="http://nsess.public.cz/erms/v_01_01" xmlns:isds="http://isds.czechpoint.cz/v20" elementFormDefault="qualified" targetNamespace="http://nsess.public.cz/erms/v_01_01" id="ermsIFAsyn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ess_ns.xsd" namespace="http://mvcr.cz/ess/v_1.0.0.0" />
  <xs:import schemaLocation="dmBaseTypes.xsd" namespace="http://isds.czechpoint.cz/v20" />
  <xs:include schemaLocation="ermsTypes.xsd" />
  <!--CHANGE 2011-04-28 Změněn datový typ. Důvodem byla snaha sjednotit datové typy. Z toho vzešla nutnost odlišit profil pro editaci a profil pro poskytnutí maximálních informací o objektu. -->
  <xs:element name="DokumentUprava">
    <xs:annotation>
      <xs:documentation>Změna profilu existujícího dokumentu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!--CHANGE 2011-04-28 Změněn datový typ. Důvodem byla snaha sjednotit datové typy. Z toho vzešla nutnost odlišit profil pro editaci a profil pro poskytnutí maximálních informací o objektu. -->
        <xs:element name="ProfilDokumentuUprava" type="tProfilDokumentuUprava" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentZruseni">
    <xs:annotation>
      <xs:documentation>Zrušení existujícího dokumentu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentZruseni" type="tIdDokument" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisZalozeni">
    <xs:annotation>
      <xs:documentation>Spis je založen nad existujícím dokumentem. Spisová značka je přidělována již ve volajícím ERMS.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!--CHANGE 2011-04-28 Změna obsahu komplexního typu tProfilSpisu. -->
        <xs:element name="ProfilSpisu" type="tProfilSpisu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">V případě založení spisu se předpokládá pro položku StavSpisu povolená hodnota pouze "nevyrizen".
Položky DatumCasVyrizeni, DatumCasUzavreni, DatumCasPredaniDoSpisovny, DatumCasPredaniDoArchivuNeboStornovani se v této situaci neuvádějí.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisUprava">
    <xs:annotation>
      <xs:documentation xml:lang="CS">Událost popisující změnu evidenčních položek popisujících spis.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!--CHANGE 2011-04-28 Změněn datový typ. Důvodem byla snaha sjednotit datové typy. Z toho vzešla nutnost odlišit profil pro editaci a profil pro poskytnutí maximálních informací o objektu. -->
        <xs:element name="ProfilSpisuUprava" type="tProfilSpisuUprava" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentVlozeniDoSpisu">
    <xs:annotation>
      <xs:documentation>Vloženi dokumentu do existujícího spisu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisId" type="tIdSpisu" />
        <xs:element name="DokumentyVlozene">
          <xs:annotation>
            <xs:documentation>Je-li použit element DokumentUplnyVlozeny, pak je jsou nejprve založenydokument uvedený v tomto elementu, poté je do spisu vloženy.
Při variantě DokumentIdVlozeny je do spisu vložen již existující dokument.
			</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
              <xs:choice>
                <xs:element name="DokumentUplnyVlozeny">
                  <!--xs:annotation>Je-li použit element DokumentUplnyVlozeny, pak jsou jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.</xs:annotation-->
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="ProfilDokumentu" type="tProfilDokumentu">
                        <xs:annotation>
                          <xs:documentation xml:lang="CS">V případě vložení úplného dokumentu do spisu se předpokládá pro položku StavDokumentu povolená hodnota pouze "nevyrizen".
Položky DatumCasVyrizeni, DatumCasUzavreni, DatumCasPredaniDoSpisovny, DatumCasPredaniDoArchivuNeboStornovani se v této situaci neuvádějí.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="PoradiVeSpisu">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1" />
                            <xs:maxInclusive value="2147483647" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen" />
                            <xs:enumeration value="Vyjmut" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="DokumentIdVlozeny">
                  <!--xs:annotation>Při této variantě je předpokládáno, že  je spis zákládán na již existujícím dokumentem (PoradiVeSpisu = 1), jsou-li uvedeny i jiné idDokument, jsou vloženy do založeného spisu.</xs:annotation-->
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="IdDokument" type="tIdDokument" />
                      <xs:element name="PoradiVeSpisu">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1" />
                            <xs:maxInclusive value="2147483647" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen" />
                            <xs:enumeration value="Vyjmut" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentVyjmutiZeSpisu">
    <xs:annotation>
      <xs:documentation>Vyjmutí dokumentu ze spisu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisId" type="tIdSpisu" />
        <xs:element name="DokumentyVlozene">
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
              <xs:element name="DokumentIdVlozeny">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IdDokument" type="tIdDokument" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisVyrizeni">
    <xs:annotation>
      <xs:documentation>Vyřízení spisu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisId" type="tIdSpisu" />
        <xs:element name="Autorizace" type="tAutorizace" />
        <xs:element name="DoplnujiciData">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="ZpusobVyrizeni">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <!--CHANGE 2011-04-28 Změna názvu položky. -->
              <xs:element name="DatumCasVyrizeni">
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisOtevreni">
    <xs:annotation>
      <xs:documentation>Znovuotevření spisu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisId" type="tIdSpisu" />
        <xs:element name="Autorizace" type="tAutorizace" />
        <xs:element name="DoplnujiciData">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Duvod">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisZruseni">
    <xs:annotation>
      <xs:documentation>Zruseni spisu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisId" type="tIdSpisu" />
        <xs:element name="Autorizace" type="tAutorizace" />
        <xs:element minOccurs="0" name="DoplnujiciData">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Duvod">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoruceniUprava">
    <xs:annotation>
      <xs:documentation>Úprava informací o doručení doručeného dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentDoruceni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element name="Doruceni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Odesilatel" type="ess:tAdresat" />
                    <xs:element name="ZasilkaInfo" type="tZasilkaInfo" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VypraveniZalozeni">
    <xs:annotation>
      <xs:documentation>Zaevidování nového vypravení k dokumentu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentZaevidovaniVypraveni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element minOccurs="1" maxOccurs="1" name="Vypraveni" type="tVypraveni" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VypraveniUprava">
    <xs:annotation>
      <xs:documentation>Změna informací o vypravení, vypravení musí být pouze ve stavu připravováno.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentUpravaVypraveni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element minOccurs="1" maxOccurs="1" name="Vypraveni" type="tVypraveni" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VypraveniVypraveno">
    <xs:annotation>
      <xs:documentation>Zápis informací o vypravení dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="DokumentVypravenoVypraveni">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="IdDokument" type="tIdDokument" />
                <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
                <xs:element maxOccurs="unbounded" name="Vypraveni">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Identifikator" type="ess:tIdentifikator" />
                      <xs:element name="ZasilkaInfo" type="tZasilkaInfo" />
                      <!--xs:element name="DatumVypraveni" type="xs:date" nillable="false"/>
											<xs:group ref="gStavVypraveneZasilky"/-->
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Obalka" type="tObalka" />
        </xs:choice>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VypraveniDoruceno">
    <xs:annotation>
      <xs:documentation>Zápis informací o doručení vypravení dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="DokumentDoruceniVypraveni">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="IdDokument" type="tIdDokument" />
                <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
                <xs:element maxOccurs="1" name="Vypraveni">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Identifikator" type="ess:tIdentifikator" />
                      <xs:element name="ZasilkaInfo" type="tZasilkaInfo" />
                      <!--xs:element name="DatumDoruceni" type="xs:date" nillable="false" minOccurs="0"/>
											<xs:group ref="gStavVypraveneZasilky"/-->
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Obalka" type="tObalka" />
        </xs:choice>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VypraveniZruseni">
    <xs:annotation>
      <xs:documentation>Zrušení vypravení dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentZruseniVypraveni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element name="Vypraveni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Identifikator" type="ess:tIdentifikator" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VypraveniPredatVypravne">
    <xs:annotation>
      <xs:documentation>Předání jednotlivých vypravení, nebo obálek výpravně.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Vypraveni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Identifikator" type="ess:tIdentifikator" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Obalka" type="tObalka" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Osamostatnění souboru od dokumentu. Nová struktura umožní založit soubor bez okamžité vazby na dokument. Cílem této změny bylo umožnit rozložený, postupný přenos rozsáhlých dat, která např. při založení kompletního spisu mohou přesáhnout technologické možnosti podepisování XML. -->
  <xs:element name="SouborZalozeni">
    <xs:annotation>
      <xs:documentation>Uložení nového souboru do úložiště obsahu elektronických dokumentů.
Takto uložený soubor lze následně, v rámci dalších událostí, využít a to odkazem na identifikátor souboru.
Dopředné uložení souborů do úložiště, bez vazby na konkrétní dokument, má umožnit rozložení velkých objemů do více po sobě jdoucích kroků. 
Např. založení spisu je v jedné operaci doprovázeno současným založením všech ve spisu obsažených dokumentů. Tyto dokumenty ale mohou být propojeny na několik elektronických souborů. Pokud by se tato akce realizovala v jednom kroku, potom by přenášený datový objem spojený s touto operací přesáhl možnosti podepisovaného XML.
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ZalozeniSouboru">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element name="Soubor" type="tFile" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Osamostatnění souboru od dokumentu. Nová struktura umožní založit soubor bez okamžité vazby na dokument. Cílem této změny bylo umožnit rozložený, postupný přenos rozsáhlých dat, která např. při založení kompletního spisu mohou přesáhnout technologické možnosti podepisování XML. -->
  <xs:element name="SouborNovaVerze">
    <xs:annotation>
      <xs:documentation>Náhrada obsahu souboru.
Pokud je identifikátor elektronického souboru propojen současně na více dokumentů nebo vypravení, potom tato aktualizace obsahu elektronického souboru ve svém důsledku aktualizuje všechny napojené dokumenty a vypravení. 
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NovaVerzeSouboru">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element name="Soubor" type="tFile" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Odstranění souboru z úložiště. Tato událost trvale odstraní soubor ve svém důsledku i od všech napojených dokumentů.
	Změna: Osamostatnění souboru od dokumentu. 
	Nová struktura umožní založit soubor bez okamžité vazby na dokument. 
	Cílem této změny bylo umožnit rozložený, postupný přenos rozsáhlých dat, která např. při založení kompletního spisu mohou přesáhnout technologické možnosti podepisování XML. -->
  <xs:element name="SouborZruseni">
    <xs:annotation>
      <xs:documentation>Zrušení elektronického souboru. Touto operací dojde k odstranění, nejenom rozpojení vazby s dokumenty a vypraveními. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ZruseniSouboru">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <!--CHANGE 2011-04-28 Datový typ pole souborů byl nahrazen datovým typem odkazujícím na jeden soubor. Pro zajištění jednoznačné lokalizace případné chyby. -->
              <xs:element name="Soubor" type="tFileId" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Nová událost, která je spojená s osamostatnění souboru od dokumentu. 
	Touto událostí se propojuje dříve zaslaný elektronický soubor s dokumentem, ke kterému přísluší. 
	Toto také umožné napojit jeden elektronický soubot na více dokumentů současně.
	Nová struktura umožní založit soubor bez okamžité vazby na dokument. Cílem této změny bylo umožnit rozložený, postupný přenos rozsáhlých dat, která např. při založení kompletního spisu mohou přesáhnout technologické možnosti podepisování XML. -->
  <xs:element name="SouborVlozitKDokumentu">
    <xs:annotation>
      <xs:documentation>Existující soubor připojí podle zadaného ID k dokumentu.
Jeden elektronický soubor může být připojen k více dokumentům současně.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentZaevidovaniSouboru">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element name="Soubor" type="tFileLink" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Nová událost. 
	Touto událostí odpojí elektronický soubor od dokumentu, ke kterému příslušel. Tato událost ale samotný elektronický soubor nemaže. -->
  <xs:element name="SouborVyjmoutZDokumentu">
    <xs:annotation>
      <xs:documentation>Odstraní z dokumentu vazbu na zadaný elektronický soubor. Soubor samotný ale není zrušen.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentZruseniSouboru">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <!--CHANGE 2011-04-28 Datový typ pole souborů byl nahrazen datovým typem odkazujícím na jeden soubor. Pro zajištění jednoznačné lokalizace případné chyby. -->
              <xs:element name="Soubor" type="tFileId" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SouborVlozitKVypraveni">
    <xs:annotation>
      <xs:documentation>K existujícímů vypravení připojí el. přílohu - soubor. Je-li soubor specifikován v elementu OdkazyNaSoubor/FileLink/@dmFileGuid, jedná se o připojení již zaevidovaného souboru k dokumentu. Je-li soubor specifikován v elementu Soubory/dmFile, je současně zaevidován k dokumentu a následně navázán na určené vypravení.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentZaevidovaniSouboruVypraveni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element minOccurs="0" name="Vypraveni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Identifikator" type="ess:tIdentifikator" />
                    <xs:element name="ZasilkaInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <!--CHANGE 2011-04-28 Datový typ pole souborů byl nahrazen datovým typem odkazujícím na jeden soubor. Pro zajištění jednoznačné lokalizace případné chyby. -->
                          <xs:element name="Soubor" type="tFileLink" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SouborVyjmoutZVypraveni">
    <xs:annotation>
      <xs:documentation>Zrušení vazby mezi souborem a vypravením dokumentu. Vlastní soubor zůstává v úložišti elektronických dokumentů zachován.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentZruseniSouboruVypraveni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
              <xs:element name="Vypraveni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Identifikator" type="ess:tIdentifikator" />
                    <xs:element name="ZasilkaInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <!--CHANGE 2011-04-28 Datový typ pole souborů byl nahrazen datovým typem odkazujícím na jeden soubor. Pro zajištění jednoznačné lokalizace případné chyby. -->
                          <xs:element name="Soubor" type="tFileId" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentZmenaZpracovatele">
    <xs:annotation>
      <xs:documentation>Změna zpracovatele dokumentu. Vlastní proces změny je ponechán na vnitřích procesech provádějícího (cílového) ERMS.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentPredani">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdDokument" type="tIdDokument" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Prebirajici" type="tPrebirajici" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisZmenaZpracovatele">
    <xs:annotation>
      <xs:documentation>Změna zpracovatele spisu Vlastní proces změny je ponechán na vnitřích procesech provádějícího (cílového) ERMS.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisPredani">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdSpis" type="tIdSpisu" />
              <xs:element minOccurs="0" name="DoplnujiciData" type="tDoplnujiciData" />
            </xs:sequence>
            <!--xs:attribute name="UdalostId" type="tUdalostId" use="required"/-->
          </xs:complexType>
        </xs:element>
        <xs:element name="Prebirajici" type="tPrebirajici" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentVraceni">
    <xs:annotation>
      <xs:documentation>Vrácení zpracování dokumentu do jiného ERMS.
	Zpětná událost k DokumentPostoupeni.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentId" type="tIdDokument" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisVraceni">
    <xs:annotation>
      <xs:documentation>Vrácení zpracování spisu do jiného ERMS.
	Zpětná událost k SpisPostoupeni.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisId" type="tIdSpisu" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentVyrizeni">
    <xs:annotation>
      <xs:documentation>Vyřízení dokumentu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdDokument" type="tIdDokument" />
        <xs:element name="Autorizace" type="tAutorizace" />
        <xs:element name="DoplnujiciData">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="ZpusobVyrizeni">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <!--CHANGE 2011-04-28 Změna názvu položky. -->
              <xs:element name="DatumCasVyrizeni">
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisUzavreni">
    <xs:annotation>
      <xs:documentation>Uzavření spisu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpisId" type="tIdSpisu" />
        <xs:element name="Autorizace" type="tAutorizace" />
        <xs:element name="DoplnujiciData">
          <xs:complexType>
            <xs:sequence>
              <!--CHANGE 2011-04-28 Změna názvu položky. -->
              <xs:element name="DatumCasUzavreni">
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentUzavreni">
    <xs:annotation>
      <xs:documentation>Uzavření dokumentu</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdDokument" type="tIdDokument" />
        <xs:element name="Autorizace" type="tAutorizace" />
        <xs:element name="DoplnujiciData">
          <xs:complexType>
            <xs:sequence>
              <!--CHANGE 2011-04-28 Změna názvu položky. -->
              <xs:element name="DatumCasUzavreni">
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentOtevreni">
    <xs:annotation>
      <xs:documentation>Otevření vyřízeného nebo uzavřeného dokumentu. Výsledkem je nevyřízený a neuzavřený dokument.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DokumentOtevreni" type="tIdDokument" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentPostoupeni">
    <xs:annotation>
      <xs:documentation>Postoupení zpracování dokumentu do jiného ERMS.
	V původním ERMS je nad dokumentem vytvořen exclusivní zámek, aby nešel prostředky původního ERMS dokument měnit. 
	Toto oprávnění bude mít od této chvíle pouze nové ERMS.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfilDokumentu" type="tProfilDokumentu">
          <xs:annotation>
            <xs:documentation xml:lang="CS">Kompletní popis postupovaného dokumentu. 
											Tento popis obsahuje také všechny vložené obrazy elektronických dokumentů, které jsou s postupovaným dokumentem spojeny.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpisPostoupeni">
    <xs:annotation>
      <xs:documentation>Postoupení zpracování spisu do jiného ERMS.
	V původním ERMS je nad spisem vytvořen exclusivní zámek, aby nešel prostředky původního ERMS spis měnit. 
	Toto oprávnění bude mít od této chvíle pouze nové ERMS.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProfilSpisu" type="tProfilSpisu" />
        <xs:element name="Autorizace" type="tAutorizace" />
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
    </xs:complexType>
  </xs:element>
  <!--CHANGE 2011-04-28 Doplněny chybějící události. -->
  <xs:group name="gUdalost">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="DokumentUprava" />
        <xs:element ref="DokumentZruseni" />
        <xs:element ref="SpisZalozeni" />
        <xs:element ref="SpisUprava" />
        <xs:element ref="DokumentVlozeniDoSpisu" />
        <xs:element ref="DokumentVyjmutiZeSpisu" />
        <xs:element ref="SpisVyrizeni" />
        <xs:element ref="SpisOtevreni" />
        <xs:element ref="SpisZruseni" />
        <xs:element ref="DoruceniUprava" />
        <xs:element ref="VypraveniZalozeni" />
        <xs:element ref="VypraveniUprava" />
        <xs:element ref="VypraveniVypraveno" />
        <xs:element ref="VypraveniDoruceno" />
        <xs:element ref="VypraveniZruseni" />
        <xs:element ref="VypraveniPredatVypravne" />
        <xs:element ref="SouborZalozeni" />
        <xs:element ref="SouborNovaVerze" />
        <xs:element ref="SouborZruseni" />
        <xs:element ref="SouborVlozitKDokumentu" />
        <xs:element ref="SouborVyjmoutZDokumentu" />
        <xs:element ref="SouborVlozitKVypraveni" />
        <xs:element ref="SouborVyjmoutZVypraveni" />
        <xs:element ref="DokumentZmenaZpracovatele" />
        <xs:element ref="SpisZmenaZpracovatele" />
        <xs:element ref="DokumentVraceni" />
        <xs:element ref="SpisVraceni" />
        <xs:element ref="DokumentVyrizeni" />
        <xs:element ref="SpisUzavreni" />
        <xs:element ref="DokumentUzavreni" />
        <xs:element ref="DokumentOtevreni" />
        <xs:element ref="DokumentPostoupeni" />
        <xs:element ref="SpisPostoupeni" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="Zprava">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Kod">
          <xs:annotation>
            <xs:documentation>Návratový kód události.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Popis" nillable="true">
          <xs:annotation>
            <xs:documentation>Český popis výsledku operace.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UdalostId" type="tUdalostId" use="required" />
      <xs:attribute name="Poradi" type="xs:int" use="required" />
      <xs:attribute name="DatumVzniku" type="xs:dateTime" />
    </xs:complexType>
  </xs:element>
</xs:schema>