interface/.admin/xsd/dmBaseTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- ************************************************************************
   XSD schema typĹŻ pouĹžitĂ˝ch ve WSDL pro manipulaci s datovĂ˝mi zprĂĄvami
                       verze 2.15      
                       
 ZmÄny:  
     5.2.2009  verze 0.1   zĂĄkladnĂ­ verze
    24.2.2009  verze 0.5   - zmÄnÄn zĂĄkladnĂ­ namespace na http://isds.czechpoint.cz
    20.3.2009  verze 1.0   - pĹidĂĄny elementy (na prvnĂ­ Ăşrovni) k jednotlivĂ˝m typĹŻm pro pouĹžitĂ­ jako parametry ve WSDL (document/literal)+komplexnĂ­ typy pro tyto elementy popisujĂ­cĂ­ jednotlivĂŠ parametry operacĂ­
                           - podle poĹžadavku MV upraveny v grupÄ gMessageEnvelopeSub elementy pro ÄĂ­slo jednacĂ­ a Spisovou znaÄku: zdvojeny (1x pro odesĂ­latel, 1x pro pĹĂ­jemce), u pĹŻvodnĂ­ch zmÄnÄno jmĂŠno, novÄ tedy jsou: dmRecipientRefNumber, dmSenderRefNumber, dmRecipientIdent, dmSenderIdent
     3.6.2009  verze 2.0   - novela zĂĄkona 300/2008 Sb. a ChangeRequesty
                           - do obĂĄlky staĹženĂŠ zprĂĄvy (a tudĂ­Ĺž do vĹĄech struktur pracujĂ­cĂ­ch se zprĂĄvou) pĹibyl element dmSenderType typu int pro typ DS odesĂ­latele 
                           - do staĹženĂŠ zprĂĄvy (tReturnedMessage), staĹženĂŠ obĂĄlky zprĂĄvy (tReturnedMessageEnvelope) a do staĹženĂŠho seznamu zprĂĄv (tRecord) pĹibyl element dmAttachmentSize typu int pro velikost pĹĂ­lohy v DS
                           - na vstup sluĹžby CreateMessage (element CreateMessage) pĹibyl nepovinnĂ˝ element dmOVM pro pĹĂ­znak, je-li DZ odesĂ­lĂĄna v reĹžimu OVM (pro DS typu OVM nepodstatnĂ˝)
     9.6.2009 verze 2.1    - do obĂĄlky zprĂĄvy pĹibyl nepovinnĂ˝ element dmAmbiguousRecipient  
                           - zmÄna namespace pro verzi ISDS 2                     
    1.10.2009 verze 2.5    - pĹidĂĄny typy pro WS CreateMultipleMessage (obÄĹžnĂ­k = DZ pro vĂ­ce adresĂĄtĹŻ)
    1.11.2009 verze 2.6    - pĹidĂĄny nepovinnĂŠ atributy dmType do obĂĄlky zprĂĄvy a seznamu zprĂĄv (rozliĹĄenĂ­ komerÄnĂ­ zprĂĄvy)
                           - pĹidĂĄny typy pro WS ConfirmDelivery (potvrzenĂ­ doruÄenĂ­ komerÄnĂ­ zprĂĄvy)
    2.3.2010 verze 2.9     - u elementu dmQTimestamp povolena nil hodnota 
                           - pĹidĂĄn nepovinnĂ˝ atribut dmType k elementu dmEnvelope u CreateMessage
                           - novĂĄ WS AuthenticateMessage
                           - formĂĄlnĂ­ zmÄny v umistÄnĂ­ nepovinnĂ˝ch atributĹŻ dmType u obĂĄlky a seznamu; beze zmÄny v XML
    11.10.2010 verze 2.10  - pĹidĂĄnĂ­ typĹŻ pro WS GetMessageStateChanges
    10.11.2010 verze 2.11  - pĹidĂĄnĂ­ typĹŻ pro WS GetMessageAuthor
                           - pĹidĂĄnĂ­ nepovinnĂŠho elementu dmPublishOwnID do  CreateMessage a CreateMultipleMessage                        
  	25.09.2011 verze 2.15  - novela zĂĄkona 300/2008 Sb.
                           - pĹidĂĄnĂ­ dalĹĄĂ­ch typĹŻ zprĂĄvy (rĹŻznĂŠ podtypy PDZ)
                       	   - Create[Multiple]Message - nepovinnĂ˝ atribut dmType pro oznaÄenĂ­ IniciaÄnĂ­ poĹĄtovnĂ­ zprĂĄvy pro OdpovÄdnĂ­ DZ resp. OdpovÄdnĂ­ DZ
    ******************************************************************* -->
<xs:schema xmlns:tns="http://isds.czechpoint.cz/v20" elementFormDefault="qualified" targetNamespace="http://isds.czechpoint.cz/v20" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="tIdDm">
    <xs:annotation>
      <xs:documentation>ID datovĂŠ zprĂĄvy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tIdDb">
    <xs:annotation>
      <xs:documentation>ID datovĂŠ schrĂĄnky</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="tFile">
    <xs:choice>
      <xs:element name="dmEncodedContent" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>obĂĄlka pro pĂ­semnost libovolnĂŠho podporovanĂŠho formĂĄtu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmXMLContent">
        <xs:annotation>
          <xs:documentation>obĂĄlka pro libovolnĂ˝ XML obsah</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="tFilesArray">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="dmFile">
        <xs:annotation>
          <xs:documentation>Jedna pĂ­semnost DZ (=soubor nebo XML )</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:tFile">
              <xs:attribute name="dmMimeType" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>typ pĂ­semnosti v MIME zĂĄpisu, napĹ. application/pdf nebo image/tiff</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmFileMetaType" use="required">
                <xs:annotation>
                  <xs:documentation>vĂ˝Äet typĹŻ pĂ­semnostĂ­, main je pouze jedna</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="main" />
                    <xs:enumeration value="enclosure" />
                    <xs:enumeration value="signature" />
                    <xs:enumeration value="meta" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="dmFileGuid" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation>nepovinnĂ˝ internĂ­ identifikĂĄtor tohoto dokumentu - pro vytvĂĄĹenĂ­ stromu zĂĄvislostĂ­ dokumentĹŻ</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmUpFileGuid" type="xs:string">
                <xs:annotation>
                  <xs:documentation>nepovinnĂ˝ internĂ­ identifikĂĄtor nadĹĂ­zenĂŠho dokumentu (napĹ. pro vztah soubor - podpis aj.)</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmFileDescr" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>mĹŻĹže obsahovat jmĂŠno souboru, pĹĂ­p. jinĂ˝ popis. ObjevĂ­ se v seznamu pĹĂ­loh na portĂĄle</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmFormat" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation>nepovinnĂ˝ Ăşdaj - odkaz na definici formulĂĄĹe</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tStatus">
    <xs:sequence>
      <xs:element name="dmStatusCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>kĂłd chyby nebo stavu (0000 - bez chyby, 0001 - odloĹženĂ­ zprac.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatusMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>popis chyby Äesky</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dmStatus" type="tns:tStatus" />
  <xs:complexType name="tHash">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="algorithm" type="xs:string">
          <xs:annotation>
            <xs:documentation>Algoritmus hashovacĂ­ funkce, napĹ. SHA-1</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:group name="dmEvent">
    <xs:sequence>
      <xs:element name="dmEventTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmEventDescr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="tEvent">
    <xs:sequence>
      <xs:group ref="tns:dmEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tEventsArray">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="dmEvent" type="tns:tEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:group name="gMultipleMessageEnvelopeSub">
    <xs:annotation>
      <xs:documentation>ObĂĄlka zprĂĄvy bez ID DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmSenderOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka odesĂ­latele slovnÄ; nepovinnĂŠ, mohou doplĹovat ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka odesĂ­latele hodnotou z ÄĂ­selnĂ­ku; ESS, nepovinnĂŠ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAnnotation" nillable="true">
        <xs:annotation>
          <xs:documentation>TextovĂĄ poznĂĄmka (VÄc, PĹedmÄt, Anotace)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>ÄĂ­slo jednacĂ­ za strany pĹĂ­jemce; nepovinnĂŠ, </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>ÄĂ­slo jednacĂ­ za strany odesĂ­latele; nepovinnĂŠ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>SpisovĂĄ znaÄka ze strany pĹĂ­jemce; nepovinnĂŠ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>SpisovĂĄ znaÄka a strany odesĂ­latele; nepovinnĂŠ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmLegalTitleLaw" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - ÄĂ­slo zĂĄkona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleYear" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - rok vydĂĄnĂ­ zĂĄkona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleSect" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - paragraf v zĂĄkonÄ; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePar" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - odstavec v paragrafu; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePoint" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - pĂ­smeno v odstavci; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmPersonalDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>PĹĂ­znak Do vlastnĂ­ch rukou - mĹŻĹže ÄĂ­st pouze adresĂĄt nebo osoba s explicitnÄ danĂ˝m oprĂĄvnÄnĂ­m</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAllowSubstDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>NĂĄhradnĂ­ doruÄenĂ­ povoleno/nepovoleno - pouze pro nÄkterĂŠ subjekty (napĹ. soudy)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="tRecipients">
    <xs:sequence>
      <xs:element name="dbIDRecipient" type="tns:tIdDb">
        <xs:annotation>
          <xs:documentation>ID datovĂŠ schrĂĄnky pĹĂ­jemce</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dmRecipientOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka pĹĂ­jemce slovnÄ, nepovinnĂŠ, moĹžnĂŠ upĹesnÄnĂ­ pĹĂ­jemce pĹi podĂĄnĂ­ z portĂĄlu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka pĹĂ­jemce hodnotou z ÄĂ­selnĂ­ku; ESS, nepovinnĂŠ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToHands" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>K rukĂĄm - pomocnĂ˝ Ăşdaj </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageEnvelopeSub">
    <xs:sequence>
      <xs:group ref="tns:gMultipleMessageEnvelopeSub" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmOVM" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmPublishOwnID" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageRecipients">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="dmRecipient" type="tns:tRecipients" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageCreateInput">
    <xs:sequence>
      <xs:element name="dmRecipients" type="tns:tMultipleMessageRecipients" />
      <xs:element name="dmEnvelope">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:tMultipleMessageEnvelopeSub">
              <xs:attribute name="dmType" type="tns:tDmType" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="dmFiles" type="tns:tFilesArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMultipleMessage" type="tns:tMultipleMessageCreateInput" />
  <xs:complexType name="tMultipleStatus">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="dmSingleStatus" nillable="true" type="tns:tMStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmID" type="tns:tIdDm" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageCreateOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmMultipleStatus" nillable="true" type="tns:tMultipleStatus" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMultipleMessageResponse" type="tns:tMultipleMessageCreateOutput" />
  <xs:group name="gMessageEnvelopeSub">
    <xs:annotation>
      <xs:documentation>ObĂĄlka zprĂĄvy bez ID DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmSenderOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka odesĂ­latele slovnÄ; nepovinnĂŠ, mohou doplĹovat ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka odesĂ­latele hodnotou z ÄĂ­selnĂ­ku; ESS, nepovinnĂŠ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dbIDRecipient" nillable="true" type="tns:tIdDb">
        <xs:annotation>
          <xs:documentation>ID datovĂŠ schrĂĄnky pĹĂ­jemce</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipientOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka pĹĂ­jemce slovnÄ, nepovinnĂŠ, moĹžnĂŠ upĹesnÄnĂ­ pĹĂ­jemce pĹi podĂĄnĂ­ z portĂĄlu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>OrganizaÄnĂ­ jednotka pĹĂ­jemce hodnotou z ÄĂ­selnĂ­ku; ESS, nepovinnĂŠ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToHands" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>K rukĂĄm - pomocnĂ˝ Ăşdaj </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAnnotation" nillable="true">
        <xs:annotation>
          <xs:documentation>TextovĂĄ poznĂĄmka (VÄc, PĹedmÄt, Anotace)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>ÄĂ­slo jednacĂ­ za strany pĹĂ­jemce; nepovinnĂŠ, </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>ÄĂ­slo jednacĂ­ za strany odesĂ­latele; nepovinnĂŠ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>SpisovĂĄ znaÄka ze strany pĹĂ­jemce; nepovinnĂŠ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>SpisovĂĄ znaÄka a strany odesĂ­latele; nepovinnĂŠ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmLegalTitleLaw" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - ÄĂ­slo zĂĄkona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleYear" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - rok vydĂĄnĂ­ zĂĄkona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleSect" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - paragraf v zĂĄkonÄ; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePar" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - odstavec v paragrafu; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePoint" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>ZmocnÄnĂ­ - pĂ­smeno v odstavci; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmPersonalDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>PĹĂ­znak Do vlastnĂ­ch rukou - mĹŻĹže ÄĂ­st pouze adresĂĄt nebo osoba s explicitnÄ danĂ˝m oprĂĄvnÄnĂ­m</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAllowSubstDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>NĂĄhradnĂ­ doruÄenĂ­ povoleno/nepovoleno - pouze pro nÄkterĂŠ subjekty (napĹ. soudy)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="gMessageEnvelope">
    <xs:annotation>
      <xs:documentation>KompletnĂ­ obĂĄlka zprĂĄvy vÄetnÄ ID DZ a ostatnich elementu, kterĂŠ se nezadĂĄvajĂ­ pĹi vytvoĹenĂ­ DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmID" type="tns:tIdDm">
        <xs:annotation>
          <xs:documentation>ID datovĂŠ zprĂĄvy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dbIDSender" nillable="true" type="tns:tIdDb">
        <xs:annotation>
          <xs:documentation>ID datovĂŠ schrĂĄnky odesĂ­latele</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSender" nillable="true">
        <xs:annotation>
          <xs:documentation>OdesĂ­latel slovnÄ; doplĹuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderAddress" nillable="true">
        <xs:annotation>
          <xs:documentation>PoĹĄtovnĂ­ adresa odesĂ­latele - poĹžadavek ESS; doplĹuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderType" type="xs:int">
        <xs:annotation>
          <xs:documentation>hrubĂ˝ typ schrĂĄnky odesĂ­latele (10=OVM,20=PO,30=PFO,40=FO)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipient" nillable="true">
        <xs:annotation>
          <xs:documentation>PĹĂ­jemce slovnÄ; doplĹuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientAddress" nillable="true">
        <xs:annotation>
          <xs:documentation>PoĹĄtovnĂ­ adresa pĹĂ­jemce - poĹžadavek ESS; doplĹuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dmAmbiguousRecipient" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>PĹĂ­znak, Ĺže adresĂĄt je ne-OVM povĂ˝ĹĄenĂŠ na OVM (Â§5a)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:group ref="tns:gMessageEnvelopeSub" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="tReturnedMessage">
    <xs:annotation>
      <xs:documentation>typ pro staĹženou DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmDm">
        <xs:annotation>
          <xs:documentation>DatovĂĄ zprĂĄva</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="tns:gMessageEnvelope" />
            <xs:element name="dmFiles" type="tns:tFilesArray">
              <xs:annotation>
                <xs:documentation>Pole pĂ­semnostĂ­ DZ</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dmHash" type="tns:tHash">
        <xs:annotation>
          <xs:documentation>Hash kompletnĂ­ DZ (z elementu dmDm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmQTimestamp" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>KvalifikovanĂŠ ÄasovĂŠ razĂ­tko</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­ do DS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas doruÄenĂ­</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ (dodanĂĄ, doruÄenĂĄ atd.); celĂŠ ÄĂ­slo 1-9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAttachmentSize" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>velikost pĹĂ­lohy v kilobajtech (zaokrouhleno)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
  </xs:complexType>
  <xs:complexType name="tReturnedMessageEnvelope">
    <xs:annotation>
      <xs:documentation>typ pro staĹženou obĂĄlku DZ (bez pĂ­semnostĂ­, hash neplatĂ­)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmDm">
        <xs:complexType>
          <xs:group ref="tns:gMessageEnvelope" />
        </xs:complexType>
      </xs:element>
      <xs:element name="dmHash" type="tns:tHash">
        <xs:annotation>
          <xs:documentation>Hash kompletnĂ­ DZ vÄ. pĂ­semnostĂ­, hash nejde spoÄĂ­tat z obĂĄlky!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmQTimestamp" type="xs:base64Binary" />
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ - celĂŠ ÄĂ­slo 1-9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAttachmentSize" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>velikost pĹĂ­lohy v kilobajtech (zaokrouhleno)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
  </xs:complexType>
  <xs:complexType name="tMessageEnvelopeSub">
    <xs:annotation>
      <xs:documentation>typ pro WS CreateMessage na vstupu</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="tns:gMessageEnvelopeSub" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmOVM" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmPublishOwnID" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
  </xs:complexType>
  <xs:complexType name="tMessageCreateInput">
    <xs:sequence>
      <xs:element name="dmEnvelope">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:tMessageEnvelopeSub" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="dmFiles" type="tns:tFilesArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMessage" type="tns:tMessageCreateInput" />
  <xs:complexType name="tMessageCreateOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmID" type="tns:tIdDm" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMessageResponse" type="tns:tMessageCreateOutput" />
  <xs:element name="VerifyMessage" type="tns:tIDMessInput" />
  <xs:complexType name="tMessageVerifyOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmHash" type="tns:tHash" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyMessageResponse" type="tns:tMessageVerifyOutput" />
  <xs:complexType name="tDelivery">
    <xs:annotation>
      <xs:documentation>typ pro Dodejku, DoruÄenku a NedoruÄenku</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmDm">
        <xs:complexType>
          <xs:group ref="tns:gMessageEnvelope" />
        </xs:complexType>
      </xs:element>
      <xs:element name="dmHash" type="tns:tHash" />
      <xs:element name="dmQTimestamp" type="xs:base64Binary" />
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmEvents" type="tns:tEventsArray">
        <xs:annotation>
          <xs:documentation>pole udĂĄlostĂ­ danĂŠ DZ (obvykle jen dodĂĄnĂ­ a doruÄenĂ­)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeliveryInfo" type="tns:tIDMessInput" />
  <xs:complexType name="tDeliveryMessageOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmDelivery" nillable="true" type="tns:tDelivery" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeliveryInfoResponse" type="tns:tDeliveryMessageOutput" />
  <xs:element name="GetSignedDeliveryInfo" type="tns:tIDMessInput" />
  <xs:complexType name="tSignDelivMessOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmSignature" type="xs:base64Binary" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSignedDeliveryInfoResponse" type="tns:tSignDelivMessOutput" />
  <xs:complexType name="tRecord">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="dmOrdinal">
        <xs:annotation>
          <xs:documentation>PoĹadovĂŠ ÄĂ­slo v seznamu</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:group ref="tns:gMessageEnvelope" />
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ, celĂŠ ÄĂ­slo 1 - 9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAttachmentSize" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>velikost pĹĂ­lohy v kilobajtech (zaokrouhleno)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas doruÄenĂ­</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="dmType" use="optional">
      <xs:simpleType>
        <xs:restriction base="tns:tDmType" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="tRecordsArray">
    <xs:annotation>
      <xs:documentation>typ pro vrĂĄcenĂ˝ seznam DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="dmRecord" type="tns:tRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tListOfSentInput">
    <xs:sequence>
      <xs:element name="dmFromTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­ od</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­ do</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>org. jednotka odesĂ­latele - ÄĂ­selnĂ­k ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatusFilter" type="xs:string">
        <xs:annotation>
          <xs:documentation>filtr na stav zprĂĄvy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmOffset" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>od kolikĂĄtĂŠho zĂĄznamu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLimit" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>kolik zĂĄznamĹŻ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tListOfMessOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmRecords" nillable="true" type="tns:tRecordsArray">
        <xs:annotation>
          <xs:documentation>pole vĂ˝sledkĹŻ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tListOfFReceivedInput">
    <xs:sequence>
      <xs:element name="dmFromTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­ od</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­ do</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>org. jednotka pĹĂ­jemce - z ÄĂ­selnĂ­ku ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatusFilter" type="xs:string">
        <xs:annotation>
          <xs:documentation>filtr na stav zprĂĄvy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmOffset" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>od kolikĂĄtĂŠho zĂĄznamu (od 1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLimit" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>kolik zĂĄznamĹŻ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListOfSentMessages" type="tns:tListOfSentInput" />
  <xs:element name="GetListOfSentMessagesResponse" type="tns:tListOfMessOutput" />
  <xs:element name="GetListOfReceivedMessages" type="tns:tListOfFReceivedInput" />
  <xs:element name="GetListOfReceivedMessagesResponse" type="tns:tListOfMessOutput" />
  <xs:complexType name="tIDMessInput">
    <xs:sequence>
      <xs:element name="dmID" type="tns:tIdDm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMessDownOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmReturnedMessage" nillable="true" type="tns:tReturnedMessage" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageDownload" type="tns:tIDMessInput" />
  <xs:element name="MessageDownloadResponse" type="tns:tMessDownOutput" />
  <xs:complexType name="tMessEnvelDownOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmReturnedMessageEnvelope" nillable="true" type="tns:tReturnedMessageEnvelope" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageEnvelopeDownload" type="tns:tIDMessInput" />
  <xs:element name="MessageEnvelopeDownloadResponse" type="tns:tMessEnvelDownOutput" />
  <xs:complexType name="tSignedMessDownOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmSignature" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignedMessageDownload" type="tns:tIDMessInput" />
  <xs:element name="SignedMessageDownloadResponse" type="tns:tSignedMessDownOutput" />
  <xs:complexType name="tMarkMessOutput">
    <xs:sequence>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarkMessageAsDownloaded" type="tns:tIDMessInput" />
  <xs:element name="MarkMessageAsDownloadedResponse" type="tns:tMarkMessOutput" />
  <xs:element name="SignedSentMessageDownload" type="tns:tIDMessInput" />
  <xs:element name="SignedSentMessageDownloadResponse" type="tns:tSignedMessDownOutput" />
  <xs:simpleType name="tDmType">
    <xs:annotation>
      <xs:documentation>typ DZ: na vstupu CreateMessage:
K = komerÄnĂ­ DZ, O = vynucenĂ­ odpovÄdnĂ­ DZ, I = iniciaÄnĂ­ pro ODZ, V = veĹejnĂĄ DZ; nepouĹžitĂ˝ atribut = veĹejnĂĄ DZ
Na vĂ˝stupu: 
K - smluvnĂ­ PDZ, O - odpovÄdnĂ­ PDZ, G - globĂĄlnÄ dotovanĂĄ, Z - omezenÄ dotovanĂĄ, D - externÄ dotovanĂĄ, E - EPZ, I - iniciaÄnĂ­ k ODZ, Y - iniciaÄnĂ­ k ODZ zkonzumovanĂĄ, X - iniciaÄnĂ­ k ODZ expirovanĂĄ, A - iniciaÄnĂ­ k ODZ dotovanĂĄ, B - dotovanĂĄ iniciaÄnĂ­ k ODZ zkonzumovanĂĄ, C - dotovanĂĄ iniciaÄnĂ­ k ODZ expirovanĂĄ, neuvedeno = veĹejnĂĄ DZ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="tConfirmDeliveryOutput">
    <xs:sequence>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmDelivery" type="tns:tIDMessInput" />
  <xs:element name="ConfirmDeliveryResponse" type="tns:tConfirmDeliveryOutput" />
  <xs:complexType name="tAuthenticateMessageInput">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="dmMessage" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>PodepsanĂĄ datovĂĄ zprĂĄva b base64 kĂłdovĂĄnĂ­</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateMessage" type="tns:tAuthenticateMessageInput" />
  <xs:complexType name="tAuthenticateMessageOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmAuthResult" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>VĂ˝sledek ovÄĹenĂ­ zprĂĄvy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateMessageResponse" type="tns:tAuthenticateMessageOutput" />
  <xs:complexType name="tGetStateChangesInput">
    <xs:sequence>
      <xs:element name="dmFromTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­ od</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Äas dodĂĄnĂ­ do</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMessageStateChanges" type="tns:tGetStateChangesInput" />
  <xs:complexType name="tStateChangesRecord">
    <xs:sequence>
      <xs:element name="dmID" type="tns:tIdDm" />
      <xs:element name="dmEventTime" type="xs:dateTime" />
      <xs:element name="dmMessageStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tStateChangesArray">
    <xs:annotation>
      <xs:documentation>typ pro vrĂĄcenĂ˝ seznam DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="dmRecord" type="tns:tStateChangesRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tGetStateChangesOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmRecords" nillable="true" type="tns:tStateChangesArray">
        <xs:annotation>
          <xs:documentation>pole vĂ˝sledkĹŻ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMessageStateChangesResponse" type="tns:tGetStateChangesOutput" />
  <xs:element name="DummyOperation" nillable="true" type="xs:string" />
  <xs:complexType name="tGetAuthorInput">
    <xs:sequence>
      <xs:element name="dmID" type="tns:tIdDm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMessageAuthor" type="tns:tGetAuthorInput" />
  <xs:complexType name="tGetAuthorOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="userType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="authorName" nillable="true" type="xs:string" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMessageAuthorResponse" type="tns:tGetAuthorOutput" />
</xs:schema>