interface/eed/server/xsd/ermsAsynU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Vladimir Dinus (ICZ) -->
<!--
	Schéma definující události a objekty vzniklé v jednom ERMS a přenášející se do ERMS druhého.
	Toto schéma popisuje asynchroní výměnu událostí, např. formou dávek.
-->
<xs:schema xmlns="http://nsess.public.cz/erms/v_01_00" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ess="http://mvcr.cz/ess/v_1.0.0.0" xmlns:isds="http://isds.czechpoint.cz/v20" targetNamespace="http://nsess.public.cz/erms/v_01_00" elementFormDefault="qualified" id="ermsIFAsyn">
	<xs:import namespace="http://mvcr.cz/ess/v_1.0.0.0" schemaLocation="ess_ns.xsd"/>
	<xs:import namespace="http://isds.czechpoint.cz/v20" schemaLocation="dmBaseTypes.xsd"/>
	<xs:include schemaLocation="ermsTypes.xsd"/>

	<xs:element name="DokumentUprava" nillable="false">
		<xs:annotation>
			<xs:documentation>Změna profilu existujícího dokumentu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilDokumentu" type="tProfilDokumentu" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentZruseni" nillable="false">
		<xs:annotation>
			<xs:documentation>Zrušení existujícího dokumentu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZruseni" type="tIdDokument" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentOtevreni" nillable="false">
		<xs:annotation>
			<xs:documentation>Otevreni vyrizeneho dokumentu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentOtevreni" type="tIdDokument" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisZalozeni" nillable="false">
		<xs:annotation>
			<xs:documentation>Spis je založen nad existujícím dokumentem. Spisová znažka je přidělována již ve volajícím ERMS.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilSpisu" type="tProfilSpisu" nillable="false"/>
				<xs:element name="DokumentyVlozene" nillable="false">
					<xs:annotation>
						<xs:documentation>Je-li použit element DokumentUplnyVlozeny, pak jsou jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.
			Při variantě DokumentIdVlozeny je předpokládáno, že  je spis zákládán na již existujícím dokumentem (PoradiVeSpisu = 1), jsou-li uvedeny i jiné idDokument, jsou vloženy do založeného spisu.
			</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:choice>
								<xs:element name="DokumentUplnyVlozeny">
									<!--xs:annotation>Je-li použit element VlozenyDokumentUplny, pak jsou jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.</xs:annotation-->
									<xs:complexType>
										<xs:sequence>
											<xs:choice>
												<xs:element name="VlastniDokument" type="tVlastniDokument"/>
												<xs:element name="DorucenyDokument" type="tDorucenyDokument"/>
											</xs:choice>
                      <xs:element name="PoradiVeSpisu" nillable="false">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2147483647"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen"/>
                            <xs:enumeration value="Vyjmut"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DokumentIdVlozeny">
									<!--xs:annotation>Při této variantě je předpokládáno, že  je spis zákládán na již existujícím dokumentem (PoradiVeSpisu = 1), jsou-li uvedeny i jiné idDokument, jsou vloženy do založeného spisu.</xs:annotation-->
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
                      <xs:element name="PoradiVeSpisu" nillable="false">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2147483647"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen"/>
                            <xs:enumeration value="Vyjmut"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentVlozeniDoSpisu" nillable="false">
		<xs:annotation>
			<xs:documentation>Vloženi dokumentu do existujícího spisu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SpisId" type="tIdSpisu" nillable="false"/>
				<xs:element name="DokumentyVlozene">
					<xs:annotation>
						<xs:documentation>Je-li použit element DokumentUplnyVlozeny, pak je jsou nejprve založenydokument uvedený v tomto elementu, poté je do spisu vloženy.
Při variantě DokumentIdVlozeny je do spisu vložen již existující dokument.
			</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:choice>
								<xs:element name="DokumentUplnyVlozeny">
									<!--xs:annotation>Je-li použit element DokumentUplnyVlozeny, pak jsou jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.</xs:annotation-->
									<xs:complexType>
										<xs:sequence>
											<xs:choice>
												<xs:element name="VlastniDokument">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Identifikator" type="ess:tIdentifikator"/>
															<xs:group ref="gSpolecneDokSpis"/>
                              <xs:element name="CjOdesilatel" minOccurs="0">
                                <xs:annotation>
                                  <xs:documentation>číslo jednací podání, pod kterým byl dokument veden v systému spisové služby odesilatele (vaše značka)</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
															<xs:element name="DoplnujiciData" type="tDoplnujiciDataDokument" minOccurs="0"/>
															<xs:element name="Vypraveni" type="tVypraveni" minOccurs="0" maxOccurs="unbounded">
																<!--xs:complexType>
																	<xs:sequence>
																		<xs:element name="Adresat" type="ess:tAdresat" nillable="false"/>
																		<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
																	</xs:sequence>
																</xs:complexType-->
															</xs:element>
															<xs:element name="Soubory" type="isds:tFilesArray" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DorucenyDokument">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Identifikator" type="ess:tIdentifikator"/>
															<xs:group ref="gSpolecneDokSpis"/>
                              <xs:element name="CjOdesilatel" minOccurs="0">
                                <xs:annotation>
                                  <xs:documentation>číslo jednací podání, pod kterým byl dokument veden v systému spisové služby odesilatele (vaše značka)</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
															<xs:element name="DoplnujiciData" type="tDoplnujiciDataDokument" minOccurs="0"/>
															<xs:element name="Doruceni">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Odesilatel" type="ess:tAdresat" nillable="false"/>
																		<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Soubory" type="isds:tFilesArray" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:choice>
                      <xs:element name="PoradiVeSpisu" nillable="false">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2147483647"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen"/>
                            <xs:enumeration value="Vyjmut"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DokumentIdVlozeny">
									<!--xs:annotation>Při této variantě je předpokládáno, že  je spis zákládán na již existujícím dokumentem (PoradiVeSpisu = 1), jsou-li uvedeny i jiné idDokument, jsou vloženy do založeného spisu.</xs:annotation-->
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
                      <xs:element name="PoradiVeSpisu" nillable="false">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2147483647"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen"/>
                            <xs:enumeration value="Vyjmut"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentVyjmutiZeSpisu" nillable="false">
		<xs:annotation>
			<xs:documentation>Vyjmutí dokumentu ze spisu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SpisId" type="tIdSpisu" nillable="false"/>
				<xs:element name="DokumentyVlozene">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="DokumentIdVlozeny">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- xs:element name="PoradiVeSpisu" nillable="false">
								<xs:annotation>
									<xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StavZarazeniDoSpisu">
								<xs:annotation>
									<xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Vlozen"/>
										<xs:enumeration value="Vyjmut"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisVyrizeni" nillable="false">
		<xs:annotation>
			<xs:documentation>Vyřízení spisu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SpisId" type="tIdSpisu" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
				<xs:element name="DoplnujiciData">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ZpusobVyrizeni">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TerminVyrizeni">
								<xs:simpleType>
									<xs:restriction base="xs:dateTime"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisOtevreni" nillable="false">
		<xs:annotation>
			<xs:documentation>Znovuotevření spisu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SpisId" type="tIdSpisu" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
				<xs:element name="DoplnujiciData">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Duvod">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisZruseni" nillable="false">
		<xs:annotation>
			<xs:documentation>Zruseni spisu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SpisId" type="tIdSpisu" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
				<xs:element name="DoplnujiciData" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Duvod">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DoruceniUprava" nillable="false">
		<xs:annotation>
			<xs:documentation>Úprava informací o doručení doručeného dokumentu.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentDoruceni">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Doruceni" nillable="false">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Odesilatel" type="ess:tAdresat" nillable="false"/>
										<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VypraveniZalozeni" nillable="false">
		<xs:annotation>
			<xs:documentation>Zaevidování nového vypravení k dokumentu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZaevidovaniVypraveni">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Vypraveni" type="tVypraveni" nillable="false" maxOccurs="unbounded">
								<!--xs:complexType>
									<xs:sequence>
										<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
										<xs:element name="Adresat" type="ess:tAdresat" nillable="false"/>
										<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
									</xs:sequence>
								</xs:complexType-->
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VypraveniUprava" nillable="false">
		<xs:annotation>
			<xs:documentation>Změna informací o vypravení, vypravení musí být pouze ve stavu připravováno.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentUpravaVypraveni">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Vypraveni" type="tVypraveni" nillable="false" maxOccurs="unbounded">
								<!--xs:complexType>
									<xs:sequence>
										<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
										<xs:element name="Adresat" type="ess:tAdresat" nillable="false"/>
										<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
									</xs:sequence>
								</xs:complexType-->
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VypraveniVypraveno" nillable="false">
		<xs:annotation>
			<xs:documentation>Zápis informací o vypravení dokumentu.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="DokumentVypravenoVypraveni">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
								<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
								<xs:element name="Vypraveni" nillable="false" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
                      <xs:element name="ZasilkaInfo" type="tZasilkaInfo" nillable="false"/>
											<!--xs:element name="DatumVypraveni" type="xs:date" nillable="false"/>
											<xs:group ref="gStavVypraveneZasilky"/-->
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Obalka" type="tObalka"/>
				</xs:choice>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VypraveniDoruceno" nillable="false">
		<xs:annotation>
			<xs:documentation>Zápis informací o doručení vypravení dokumentu.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="DokumentDoruceniVypraveni">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
								<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
								<xs:element name="Vypraveni" nillable="false" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
      								<xs:element name="ZasilkaInfo" type="tZasilkaInfo" nillable="false"/>
											<!--xs:element name="DatumDoruceni" type="xs:date" nillable="false" minOccurs="0"/>
											<xs:group ref="gStavVypraveneZasilky"/-->
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Obalka" type="tObalka"/>
				</xs:choice>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VypraveniZruseni" nillable="false">
		<xs:annotation>
			<xs:documentation>Zrušení vypravení dokumentu.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZruseniVypraveni">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Vypraveni" nillable="false">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VypraveniPredatVypravne" nillable="false">
		<xs:annotation>
			<xs:documentation>Předání jednotlivých vypravení, nebi obálek výpravně.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Vypraveni" nillable="false" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Obalka" type="tObalka" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SouborZalozeni" nillable="false">
		<xs:annotation>
			<xs:documentation>Zaevidování nového souboru k dokumentu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZaevidovaniSouboru">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Soubory" type="tFilesArray"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SouborNovaVerze" nillable="false">
		<xs:annotation>
			<xs:documentation>Náhrada obsahu souboru</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZaevidovaniSouboru">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Soubory" type="tFilesArray"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SouborZruseni" nillable="false">
		<xs:annotation>
			<xs:documentation>Zrušení souboru evidovaného k dokumentu, dojde k jeho odstranění, nejenom rozpojení vazby s dokumentem. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZruseniSouboru">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Soubory" type="tFilesArrayID"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SouborVlozitKVypraveni" nillable="false">
		<xs:annotation>
			<xs:documentation>K existujícímů vypravení připojí el. přílohu - soubor. Je-li soubor specifikován v elementu OdkazyNaSoubor/FileLink/@dmFileGuid, jedná se o připojení již zaevidovaného souboru k dokumentu. Je-li soubor specifikován v elementu Soubory/dmFile, je současně zaevidován k dokumentu a následně navázán na určené vypravení.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZaevidovaniSouboruVypraveni">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Vypraveni" nillable="false" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
										<xs:element name="ZasilkaInfo" type="tZasilkaInfo"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SouborVyjmoutZVypraveni" nillable="false">
		<xs:annotation>
			<xs:documentation>Zrušení vazby mezi souborem a navázaným k vypravením dokumentu. Vlastní soubor zůstává v dokumentu zachován.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentZruseniSouboruVypraveni">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
							<xs:element name="Vypraveni" nillable="false">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identifikator" type="ess:tIdentifikator" nillable="false"/>
										<xs:element name="ZasilkaInfo" nillable="false">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Soubory" type="tFilesArrayID"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentZmenaZpracovatele" nillable="false">
		<xs:annotation>
			<xs:documentation>Změna zpracovatele dokumentu. Vlastní proces změny je ponechán na vnitřích procesech provádějícího (cílového) ERMS.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentPredani">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Prebirajici" type="tPrebirajici"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisZmenaZpracovatele" nillable="false">
		<xs:annotation>
			<xs:documentation>Změna zpracovatele spisu Vlastní proces změny je ponechán na vnitřích procesech provádějícího (cílového) ERMS.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SpisPredani">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdSpis" type="tIdSpisu" nillable="false"/>
							<xs:element name="DoplnujiciData" type="tDoplnujiciData" minOccurs="0"/>
						</xs:sequence>
						<!--xs:attribute name="UdalostId" type="tUdalostId" use="required"/-->
					</xs:complexType>
				</xs:element>
				<xs:element name="Prebirajici" type="tPrebirajici"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentPostoupeni" nillable="false">
		<xs:annotation>
			<xs:documentation>Postoupení zpracování dokumentu do jiného ERMS.
	V původním ERMS je nad dokumentem vytvořen exclusivní zámek, aby nešel prostředky původního ERMS dokument měnit. 
	Toto oprávnění bude mít od této chvíle pouze nové ERMS.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="DorucenyDokument" type="tDorucenyDokument" minOccurs="0"/>
					<xs:element name="VlastniDokument" type="tVlastniDokument" minOccurs="0"/>
				</xs:choice>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisPostoupeni" nillable="false">
		<xs:annotation>
			<xs:documentation>Postoupení zpracování spisu do jiného ERMS.
	V původním ERMS je nad spisem vytvořen exclusivní zámek, aby nešel prostředky původního ERMS spis měnit. 
	Toto oprávnění bude mít od této chvíle pouze nové ERMS.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilSpisu" type="tProfilSpisu" nillable="false"/>
				<xs:element name="DokumentyVlozene" nillable="false">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="DokumentUplnyVlozeny">
								<!--xs:annotation>Je-li použit element DokumentUplnyVlozeny, pak jsou jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.</xs:annotation-->
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="VlastniDokument" type="tVlastniDokument"/>
											<xs:element name="DorucenyDokument" type="tDorucenyDokument"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PoradiVeSpisu" nillable="false">
								<xs:annotation>
									<xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StavZarazeniDoSpisu">
								<xs:annotation>
									<xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Vlozen"/>
										<xs:enumeration value="Vyjmut"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DokumentVraceni" nillable="false">
		<xs:annotation>
			<xs:documentation>Vrácení zpracování dokumentu do jiného ERMS.
	Zpětná událost k DokumentPostoupeni.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DokumentId" type="tIdDokument" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisVraceni" nillable="false">
		<xs:annotation>
			<xs:documentation>Vrácení zpracování spisu do jiného ERMS.
	Zpětná událost k SpisPostoupeni.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SpisId" type="tIdSpisu" nillable="false"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
		</xs:complexType>
	</xs:element>

  <xs:group name="gUdalost">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="DokumentUprava"/>
        <xs:element ref="DokumentZruseni"/>
        <xs:element ref="DokumentOtevreni"/>
        <xs:element ref="SpisZalozeni"/>
        <xs:element ref="DokumentVlozeniDoSpisu"/>
        <xs:element ref="DokumentVyjmutiZeSpisu"/>
        <xs:element ref="SpisVyrizeni"/>
        <xs:element ref="SpisOtevreni"/>
        <xs:element ref="SpisZruseni"/>
        <xs:element ref="DoruceniUprava"/>
        <xs:element ref="VypraveniZalozeni"/>
        <xs:element ref="VypraveniUprava"/>
        <xs:element ref="VypraveniVypraveno"/>
        <xs:element ref="VypraveniDoruceno"/>
        <xs:element ref="VypraveniZruseni"/>
        <xs:element ref="VypraveniPredatVypravne"/>
        <xs:element ref="SouborZalozeni"/>
        <xs:element ref="SouborNovaVerze"/>
        <xs:element ref="SouborZruseni"/>
        <xs:element ref="SouborVlozitKVypraveni"/>
        <xs:element ref="SouborVyjmoutZVypraveni"/>
        <xs:element ref="DokumentZmenaZpracovatele"/>
        <xs:element ref="SpisZmenaZpracovatele"/>
        <xs:element ref="DokumentPostoupeni"/>
        <xs:element ref="SpisPostoupeni"/>
        <xs:element ref="DokumentVraceni"/>
        <xs:element ref="SpisVraceni"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>


	<xs:element name="Zprava" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Kod" nillable="false">
					<xs:annotation>
						<xs:documentation>Návratový kód události.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Popis" nillable="true">
					<xs:annotation>
						<xs:documentation>Český popis výsledku operace.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="UdalostId" type="tUdalostId" use="required"/>
			<xs:attribute name="Poradi" type="xs:int" use="required"/>
			<xs:attribute name="DatumVzniku" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
