interface/eed/server/xsd/ermsIFSyn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Vladimir Dinus (ICZ) -->
<!--
	Schéma definující události a objekty vzniklé v jednom ERMS a přenášející se do ERMS druhého.
	Toto schéma popisuje synchroní výměnu událostí, např. formou webových služeb.
-->
<xs:schema xmlns="http://nsess.public.cz/erms/v_01_00" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ess="http://mvcr.cz/ess/v_1.0.0.0" xmlns:isds="http://isds.czechpoint.cz/v20" targetNamespace="http://nsess.public.cz/erms/v_01_00" elementFormDefault="qualified" id="ermsIFAsyn">
	<xs:import namespace="http://mvcr.cz/ess/v_1.0.0.0" schemaLocation="ess_ns.xsd"/>
	<xs:import namespace="http://isds.czechpoint.cz/v20" schemaLocation="dmBaseTypes.xsd"/>
	<!--xs:import namespace="http://isds.czechpoint.cz/v20" schemaLocation="dbTypes.xsd"/-->
	<xs:include schemaLocation="ermsTypes.xsd"/>
	<xs:include schemaLocation="ermsAsynU.xsd"/>

  <xs:complexType name="tUdalostiSyn">
		<xs:sequence maxOccurs="10">
			<xs:group ref="gUdalost"/>
		</xs:sequence>
	</xs:complexType>

  <xs:element name="DorucenyDokumentZalozeniRequest">
		<xs:annotation>
			<xs:documentation>Zaevidování nového dokumentu přijatého / vzniklého v agendě.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
        <xs:element name="UdalostiPredchazejici" type="tUdalostiSyn" minOccurs="0"/>
				<xs:element name="DorucenyDokument" type="tDorucenyDokument"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DorucenyDokumentZalozeniResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DorucenyDokument" type="tDorucenyDokument" minOccurs="0"/>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VlastniDokumentZalozeniRequest">
		<xs:annotation>
			<xs:documentation>Zaevidování nového dokumentu přijatého / vzniklého v agendě</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
        <xs:element name="UdalostiPredchazejici" type="tUdalostiSyn" minOccurs="0"/>
				<xs:element name="VlastniDokument" type="tVlastniDokument"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VlastniDokumentZalozeniResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VlastniDokument" type="tVlastniDokument" minOccurs="0"/>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisZalozeniRequest">
		<xs:annotation>
			<xs:documentation>Založení spisu nad dokumentem. Je možné založit celý spis i s dokumenty v něm, nebo je spis založen nad existujícím dokumentem.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
        <xs:element name="UdalostiPredchazejici" type="tUdalostiSyn" minOccurs="0"/>
				<xs:element name="ProfilSpisu" type="tProfilSpisu" nillable="false"/>
				<xs:element name="DokumentyVlozene" nillable="false">
					<xs:annotation>
						<xs:documentation>Je-li použit element VlozenyDokumentUplny, pak jsou jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.
					Při variantě VlozenyDokumentId je předpokládáno, že  je spis zákládán na již existujícím dokumentem (PoradiVeSpisu = 1), jsou-li uvedeny i jiné idDokument, jsou vloženy do založeného spisu.
					</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:choice>
								<xs:element name="DokumentUplnyVlozeny">
									<!--xs:annotation>Je-li použit element VlozenyDokumentUplny, pak jsou jsou nejprve založeny dokumenty uvedené v tomto elementu, poté je založen spis kde iniciačním dokumentem je ten, který má  PoradiVeSpisu rovno 1 a poté jsou do spisu vloženy i další dokumenty.</xs:annotation-->
									<xs:complexType>
										<xs:sequence>
											<xs:choice>
												<xs:element name="VlastniDokument" type="tVlastniDokument"/>
												<xs:element name="DorucenyDokument" type="tDorucenyDokument"/>
											</xs:choice>
                      <xs:element name="PoradiVeSpisu" nillable="false">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2147483647"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen"/>
                            <xs:enumeration value="Vyjmut"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DokumentIdVlozeny">
									<!--xs:annotation>Při této variantě je předpokládáno, že  je spis zákládán na již existujícím dokumentem (PoradiVeSpisu = 1), jsou-li uvedeny i jiné idDokument, jsou vloženy do založeného spisu.</xs:annotation-->
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
                      <xs:element name="PoradiVeSpisu" nillable="false">
                        <xs:annotation>
                          <xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2147483647"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="StavZarazeniDoSpisu">
                        <xs:annotation>
                          <xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Vlozen"/>
                            <xs:enumeration value="Vyjmut"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpisZalozeniResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfilSpisu" type="tProfilSpisu" nillable="false" minOccurs="0"/>
				<xs:element name="DokumentyVlozene" nillable="false" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="DokumentZkracenyVlozeny">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IdDokument" type="tIdDokument" nillable="false"/>
										<xs:element name="CisloJednaci">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PodaciDenikPoradi" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Pořadí v rámci roku (začíná od 1) a podacího deníku (či jiné evidenční pomůcky)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="2147483647"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PodaciDenikRok" type="xs:gYear" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Rok podacího deníku.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PodaciDenik" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Označení podacího deníku či jiné evidenční pomůcky ( většinou se pro označení využívá výstižná zkratka )</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- xs:element name="PoradiVeSpisu" nillable="false">
								<xs:annotation>
									<xs:documentation>Pořadí, v jakém byl dokument vložen do spisu. Začíná vždy od 1.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StavZarazeniDoSpisu">
								<xs:annotation>
									<xs:documentation>Výčtový typ, který určuje, zda je dokument aktuálně vložen do spisu.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Vlozen"/>
										<xs:enumeration value="Vyjmut"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	<xs:element name="FindDataBoxRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dbOwnerInfo" type="isds:tDbOwnerInfo"/>
				<xs:element name="Autorizace" type="tAutorizace"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindDataBoxResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dbResults" type="isds:tDbOwnersArray" maxOccurs="0"/>
				<xs:element name="OperaceStatus" type="tOperaceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	-->
  <xs:element name="UdalostiRequest">
		<xs:annotation>
			<xs:documentation>Pozadavek na synchronni zpracovani udalosti.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
        <xs:element name="Udalosti" type="tUdalostiSyn"/>
			</xs:sequence>
		</xs:complexType>
  </xs:element>
  <xs:element name="UdalostiResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Zpravy">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element ref="Zprava"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
  </xs:element>
</xs:schema>
