interface/eed3/server/xsd/dbTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ************************************************************************
   XSD schema typĹŻ pouĹžitĂ˝ch ve WSDL pro manipulaci s datovĂ˝mi schrĂĄnkami a ve WSDL pro vyhledĂĄvĂĄnĂ­ DS
                       verze 2.1   11.6.2009 novela     

 zmÄny:
  9.2.2009  verze 0.1
 23.2.2009  verze 0.2  - odstranÄn element corporateRegistrationState z tDbOwnerInfo
                       - ve skupinÄ gBirthInfo byly tĹi integer elementy pro den, mÄsĂ­c a rok nahrazeny jednĂ­m biDate typu date
                       - pĹidĂĄn typ tDbType (enumerace FO, PO atd. - zkratky asi zĹŻstanou Äesky) pro element dbType
                       - pĹejmenovĂĄn element dbOwner na dbOwnerInfo a dbUser na dbUserInfo
 24.2.2009  verze 0.3  - zmÄnÄn zĂĄkladnĂ­ namespace na http://isds.czechpoint.cz
  4.3.2009  verze 0.4  - do typu tDbUserInfo pĹidĂĄny 2 elementy biDate a userPrivils                      
  5.3.2009  verze 0.5  - doplnÄny enumerace typ DS a typ osoby
 17.3.2009  verze 0.6  - doplnÄny 2 elementy (email a telNumber) do tDbOwnerInfo
 20.3.2009  verze 1.0  - pĹidĂĄny elementy (na prvnĂ­ Ăşrovni) k jednotlivĂ˝m typĹŻm pro pouĹžitĂ­ jako parametry ve WSDL (document/literal)+komplexnĂ­ typy pro tyto elementy popisujĂ­cĂ­ jednotlivĂŠ parametry operacĂ­
 25.3.2009  verze 1.1  - do vĂ˝stupnĂ­ch parametrĹŻ CreateDataBox pĹidĂĄn element dbID pro ÄĂ­slo vytvĂĄĹenĂŠ DS, pĹidĂĄn complex type tCreateDBOutput jako typ pro CreateDataBoxResponse
 21.4.2009  verze 1.2  - zmÄnÄn typ elementu u adNumberInStreet a adNumberInMunicipality z int na string
 28.4.2009  verze 1.3  - v dbOwnerInfo byla doplnÄna u elementu biDate a dbType vlastnosti nillable = TRUE (pro FindDataBox se nemusĂ­ vyplnit, pokud je zadĂĄno ID DS)
                       - pĹidĂĄny elementy a typy pro WS CheckDataBox   
 11.5.2009  verze 1.4. - novĂ˝ vstupnĂ­ parametr u WS DisableDataBoxExternally - dbOwnerDisableDate typu xs:date pro datum znepĹĂ­stupnÄnĂ­
 13.5 2009  verze 1.5  - odstranÄn nepotĹebnĂ˝ element GetOwnerInfoFromLogin  					
                       - doplnÄna kardinalita nÄkterĂ˝ch elementĹŻ v odpovÄdĂ­ch od serveru - pĹi vĂ˝skytu nÄkterĂ˝ch chyb se vracĂ­ pouze dbStatus
                       - doplnÄna vlastnosti nillable = TRUE u nÄkterĂ˝ch elementĹŻ vÄ. stringovĂ˝ch
 27.5.2009  verze 1.6  - na vstupu CreateDataBox pĹidĂĄn element dbAccessDataId pro zadĂĄnĂ­ ÄĂ­sla obĂĄlky s pĹĂ­stupovĂ˝mi Ăşdaji pĹi podĂĄnĂ­ na CzechPOINTu 
                       - vrĂĄceny elementy pro pomocnou sluĹžbu GetOwnerInfoFromLogin                  
  3.6.2009  verze 2.0  - novela zĂĄkona 300/2008 Sb.
                       - ve struktuĹe tdbOwnerInfo pĹibylo 5 elementĹŻ: 
                                - identifier typu string:   externĂ­ identifkĂĄtor schrĂĄnky pro poskytovatele dat OVM a PO, moĹžnĂĄ PFO
                                - registryCode typu string: kĂłd externĂ­ho registru PFO
                                - dbState typu int:         stav DS (0-?) pouze 1 = aktivnĂ­ DS k doruÄovĂĄnĂ­, pouĹžitĂ­ ve FindDataBox
                                - dbEffectiveOVM typu boolean:   pĹĂ­znak, Ĺže DS vystupuje jako OVM (Â§5a) 
                                - dbOpenAddressing typu boolean: pĹĂ­znak, Ĺže ne-OVM DS mĂĄ aktivovĂĄno volnĂŠ adresovĂĄnĂ­ (Â§18a)
                       - ve struktuĹe tdbUserInfo pĹibylo 5 elementĹŻ:
                                - ic typu string:        IÄ firmy (PO), kterĂ˝ vystupuje v datech z OR jako statutĂĄrnĂ­ zĂĄstupce tĂŠto PO
                                - firmName typu string:  jmĂŠno firmy (PO), kterĂ˝ vystupuje v datech z OR jako statutĂĄrnĂ­ zĂĄstupce tĂŠto PO
                                - caStreet typu string:  ulice a ÄĂ­sla v jednom ĹetÄzci pro kontaktnĂ­ adresu v ÄR
                                - caCity typu string:    mÄsto pro kontaktnĂ­ adresu v ÄR
                                - caZipCode typu string: PSÄ pro pro kontaktnĂ­ adresu v ÄR
                       - na vstupu CreateDataBox pĹibyly dva nepovinnĂŠ elementy:
                                - dbUpperDBId typu tIdDb (string 7): ID nadĹĂ­zenĂŠ DS typu OVM (Â§6 a 7)
                                - dbCEOLabel typu string: nĂĄzev funkce vedoucĂ­ho OVM (pro rozeslĂĄnĂ­ dopisĹŻ)
                       - pĹidĂĄny elementy a typy pro WS SetEffectiveOVM  
                       - pĹidĂĄny elementy a typy pro WS ClearEffectiveOVM  
                       - pĹidĂĄny elementy a typy pro WS SetOpenAddressing  
                       - pĹidĂĄny elementy a typy pro WS ClearOpenAddressing  
11.6.2009 - verze 2.1  - upraveny elementy sluĹžby NewAccessData - dbAccessDataId pĹesunut ze vstupu na vĂ˝stup a pĹidĂĄn element dbVirtual na vstup
                       - pĹidĂĄny nepovinnĂŠ elementy dbApproved a dbExterRefNumber v grupÄ gExtApproval na vstup vĹĄech sluĹžeb SM
                       - zmÄna namespace pro verzi ISDS 2.0
                       - pĹidĂĄny elementy pro WS Activate
                       - pĹidĂĄny elementy pro WS CreateDataBoxPFOInfo
**************************************************************************** -->
<xs:schema xmlns:tns="http://isds.czechpoint.cz/v20" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://isds.czechpoint.cz/v20" elementFormDefault="qualified">
	<xs:simpleType name="tIdDb">
		<xs:annotation>
			<xs:documentation>ID datovĂŠ schrĂĄnky</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tIdDbInput">
		<xs:sequence>
			<xs:element name="dbID" type="tns:tIdDb"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tReqStatusOutput">
		<xs:sequence>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tDbType">
		<xs:annotation>
			<xs:documentation>typ DS - vĂ˝Äet FO,PO,FPO a OVM. NÄkterĂŠ majĂ­ podtypy, napĹ. FPO_ADVOK aj.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FO"/>
			<xs:enumeration value="PFO"/>
			<xs:enumeration value="PFO_ADVOK"/>
			<xs:enumeration value="PFO_DANPOR"/>
			<xs:enumeration value="PFO_INSSPR"/>
			<xs:enumeration value="PO"/>
			<xs:enumeration value="PO_ZAK"/>
			<xs:enumeration value="PO_REQ"/>
			<xs:enumeration value="OVM"/>
			<xs:enumeration value="OVM_NOTAR"/>
			<xs:enumeration value="OVM_EXEKUT"/>
			<xs:enumeration value="OVM_REQ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tIdentificationNumber">
		<xs:annotation>
			<xs:documentation>IÄ </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="tUserType">
		<xs:annotation>
			<xs:documentation>typ uĹživatele DZ - vĂ˝Äet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRIMARY_USER"/>
			<xs:enumeration value="ENTRUSTED_USER"/>
			<xs:enumeration value="ADMINISTRATOR"/>
			<xs:enumeration value="OFFICIAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tUserID">
		<xs:annotation>
			<xs:documentation>ID uĹživatele</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDbAccessDataId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:group name="gDbReqStatus">
		<xs:sequence>
			<xs:element name="dbStatusCode" type="xs:string"/>
			<xs:element name="dbStatusMessage" type="xs:string"/>
			<xs:element name="dbStatusRefNumber" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="tDbReqStatus">
		<xs:annotation>
			<xs:documentation>nĂĄvratovĂ˝ typ WS</xs:documentation>
		</xs:annotation>
		<xs:group ref="tns:gDbReqStatus"/>
	</xs:complexType>
	<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
	<xs:group name="gBirthInfo">
		<xs:annotation>
			<xs:documentation>skupina elementĹŻ pro datum a mĂ­sto narozenĂ­</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="biDate" type="xs:date" nillable="true"/>
			<xs:element name="biCity" type="xs:string" nillable="true"/>
			<xs:element name="biCounty" type="xs:string" nillable="true"/>
			<xs:element name="biState" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="gPersonName">
		<xs:annotation>
			<xs:documentation>skupina elementĹŻ pro jmĂŠno</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pnFirstName" type="xs:string" nillable="true"/>
			<xs:element name="pnMiddleName" type="xs:string" nillable="true"/>
			<xs:element name="pnLastName" type="xs:string" nillable="true"/>
			<xs:element name="pnLastNameAtBirth" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="gAddress">
		<xs:annotation>
			<xs:documentation>skupina elementĹŻ pro adresu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="adCity" type="xs:string" nillable="true"/>
			<xs:element name="adStreet" type="xs:string" nillable="true"/>
			<xs:element name="adNumberInStreet" type="xs:string" nillable="true"/>
			<xs:element name="adNumberInMunicipality" type="xs:string" nillable="true"/>
			<xs:element name="adZipCode" type="xs:string" nillable="true"/>
			<xs:element name="adState" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="tDbOwnerInfo">
		<xs:annotation>
			<xs:documentation>typ pro veĹĄkerĂŠ informace o DS, pro nÄkterĂŠ typy budou nÄkterĂŠ elementy nevyplnÄnĂŠ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dbID" type="tns:tIdDb" nillable="true"/>
			<xs:element name="dbType" type="tns:tDbType" nillable="true"/>
			<xs:element name="ic" type="tns:tIdentificationNumber" nillable="true"/>
			<xs:group ref="tns:gPersonName"/>
			<xs:element name="firmName" type="xs:string" nillable="true"/>
			<xs:group ref="tns:gBirthInfo"/>
			<xs:group ref="tns:gAddress"/>
			<xs:element name="nationality" type="xs:string" nillable="true"/>
			<xs:element name="email" type="xs:string" nillable="true"/>
			<xs:element name="telNumber" type="xs:string" nillable="true"/>
			<xs:element name="identifier" nillable="true">
				<xs:annotation>
					<xs:documentation>externĂ­ identifkĂĄtor schrĂĄnky pro poskytovatele dat OVM a PO, moĹžnĂĄ PFO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="registryCode" nillable="true">
				<xs:annotation>
					<xs:documentation>kĂłd externĂ­ho registru PFO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dbState" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>Stav DS (pouze stav=1 znamenĂĄ aktivnĂ­ schrĂĄnka)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbEffectiveOVM" type="xs:boolean" nillable="true">
				<xs:annotation>
					<xs:documentation>pĹĂ­znak, Ĺže DS vystupuje jako OVM Â§5a</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbOpenAddressing" type="xs:boolean" nillable="true">
				<xs:annotation>
					<xs:documentation>pĹĂ­znak, Ĺže ne-OVM DS mĂĄ aktivovĂĄno volnĂŠ adresovĂĄnĂ­ Â§18a</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tDbOwnersArray">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tDbUserInfo">
		<xs:annotation>
			<xs:documentation>typ pro veĹĄkerĂŠ informace o uĹživateli schrĂĄnky a</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="tns:gPersonName"/>
			<xs:group ref="tns:gAddress"/>
			<xs:element name="biDate" type="xs:date" nillable="true"/>
			<xs:element name="userID" type="tns:tUserID" nillable="true"/>
			<xs:element name="userType" type="tns:tUserType" nillable="true"/>
			<xs:element name="userPrivils" type="xs:long" nillable="true"/>
			<xs:element name="ic" nillable="true">
				<xs:annotation>
					<xs:documentation>IÄ firmy vystupujĂ­cĂ­ jako statutĂĄr jinĂŠ PO (data z OR)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="firmName" nillable="true">
				<xs:annotation>
					<xs:documentation>jmĂŠno firmy vystupujĂ­cĂ­ jako statutĂĄr jinĂŠ PO (data z OR)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="caStreet" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>KontaktnĂ­ adresa - ulice a ÄĂ­sla v jednom ĹetÄzci</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caCity" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>KontaktnĂ­ adresa - mÄsto (v ÄR)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caZipCode" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>KontaktnĂ­ adresa - PSÄ v ÄR</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tDbUsersArray">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="dbUserInfo" type="tns:tDbUserInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tFindDBInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FindDataBox" type="tns:tFindDBInput"/>
	<xs:complexType name="tFindDBOuput">
		<xs:sequence>
			<xs:element name="dbResults" type="tns:tDbOwnersArray" nillable="true" minOccurs="0"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FindDataBoxResponse" type="tns:tFindDBOuput"/>
	<xs:complexType name="tCreateDBInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbPrimaryUsers" type="tns:tDbUsersArray"/>
			<xs:element name="dbFormerNames" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="dbUpperDBId" type="tns:tIdDb" nillable="true" minOccurs="0"/>
			<xs:element name="dbCEOLabel" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateDataBox" type="tns:tCreateDBInput"/>
	<xs:complexType name="tCreateDBOutput">
		<xs:sequence>
			<xs:element name="dbID" type="tns:tIdDb" nillable="true" minOccurs="0"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateDataBoxResponse" type="tns:tCreateDBOutput"/>
	<xs:complexType name="tDeleteDBInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbOwnerTerminationDate" type="xs:date"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DeleteDataBox" type="tns:tDeleteDBInput"/>
	<xs:element name="DeleteDataBoxResponse" type="tns:tReqStatusOutput"/>
	<xs:complexType name="tUpdateDBInput">
		<xs:sequence>
			<xs:element name="dbOldOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbNewOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UpdateDataBoxDescr" type="tns:tUpdateDBInput"/>
	<xs:element name="UpdateDataBoxDescrResponse" type="tns:tReqStatusOutput"/>
	<xs:complexType name="tAddDBUserInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbUserInfo" type="tns:tDbUserInfo"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AddDataBoxUser" type="tns:tAddDBUserInput"/>
	<xs:element name="AddDataBoxUserResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="DeleteDataBoxUser" type="tns:tAddDBUserInput"/>
	<xs:element name="DeleteDataBoxUserResponse" type="tns:tReqStatusOutput"/>
	<xs:complexType name="tUpdDBUserInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbOldUserInfo" type="tns:tDbUserInfo"/>
			<xs:element name="dbNewUserInfo" type="tns:tDbUserInfo"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UpdateDataBoxUser" type="tns:tUpdDBUserInput"/>
	<xs:element name="UpdateDataBoxUserResponse" type="tns:tReqStatusOutput"/>
	<xs:complexType name="tNewAccDataInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbUserInfo" type="tns:tDbUserInfo"/>
			<xs:element name="dbFeePaid" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>true, pokud je zaplacen sprĂĄvnĂ­ poplatek</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbVirtual" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true, pokud se pĹĂ­stupovĂŠ Ăşdaje nemajĂ­ posĂ­lat ale mĂĄ se pouĹžĂ­t virtuĂĄlnĂ­ obĂĄlku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NewAccessData" type="tns:tNewAccDataInput"/>
	<xs:complexType name="tNewAccDataOutput">
		<xs:sequence>
			<xs:element name="dbAccessDataId" type="tns:tDbAccessDataId" nillable="true" minOccurs="0"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NewAccessDataResponse" type="tns:tNewAccDataOutput"/>
	<xs:complexType name="tOwnerInfoInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tDisableExternallyInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbOwnerDisableDate" type="xs:date" nillable="true"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DisableDataBoxExternally" type="tns:tDisableExternallyInput"/>
	<xs:element name="DisableDataBoxExternallyResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="DisableOwnDataBox" type="tns:tOwnerInfoInput"/>
	<xs:element name="DisableOwnDataBoxResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="EnableOwnDataBox" type="tns:tOwnerInfoInput"/>
	<xs:element name="GetDataBoxUsers" type="tns:tIdDbInput"/>
	<xs:complexType name="tGetDBUsersOutput">
		<xs:sequence>
			<xs:element name="dbUsers" type="tns:tDbUsersArray" minOccurs="0"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetDataBoxUsersResponse" type="tns:tGetDBUsersOutput"/>
	<xs:complexType name="tGetOwnerFromLoginInput">
		<xs:sequence>
			<xs:element name="dbDummy" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetOwnerInfoFromLogin" type="tns:tGetOwnerFromLoginInput"/>
	<xs:element name="GetOwnerInfoFromLoginResponse" type="tns:tGetOwnInfoOutput"/>
	<xs:complexType name="tGetOwnInfoOutput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tStoreDelivDateInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbDeliveryDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StoreAccessDataDeliveryInfo" type="tns:tStoreDelivDateInput"/>
	<xs:element name="StoreAccessDataDeliveryInfoResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="EnableOwnDataBoxResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="CheckDataBox" type="tns:tIdDbInput"/>
	<xs:complexType name="tCheckDBOutput">
		<xs:sequence>
			<xs:element name="dbState" type="xs:int" minOccurs="0"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CheckDataBoxResponse" type="tns:tCheckDBOutput"/>
	<xs:element name="SetEffectiveOVM" type="tns:tIdDbInput"/>
	<xs:element name="SetEffectiveOVMResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="ClearEffectiveOVM" type="tns:tIdDbInput"/>
	<xs:element name="ClearEffectiveOVMResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="SetOpenAddressing" type="tns:tIdDbInput"/>
	<xs:element name="SetOpenAddressingResponse" type="tns:tReqStatusOutput"/>
	<xs:element name="ClearOpenAddressing" type="tns:tIdDbInput"/>
	<xs:element name="ClearOpenAddressingResponse" type="tns:tReqStatusOutput"/>
	<xs:group name="gExtApproval">
		<xs:sequence>
			<xs:element name="dbApproved" type="xs:boolean" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>pĹĂ­znak, Ĺže ĹžĂĄdost byla schvĂĄlena mimo ISDS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbExternRefNumber" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ÄĂ­slo jedn. externĂ­ho schvĂĄlenĂ­, bude uloĹženo v ISDS</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="tActivateInput">
		<xs:sequence>
			<xs:element name="dbAccessDataId" type="tns:tDbAccessDataId"/>
			<xs:element name="dbID" type="tns:tIdDb"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Activate" type="tns:tActivateInput"/>
	<xs:complexType name="tActivateOutput">
		<xs:sequence>
			<xs:element name="userId" type="tns:tUserID"/>
			<xs:element name="password" type="xs:string"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActivateResponse" type="tns:tActivateOutput"/>
	<xs:complexType name="tCreateDBPFOInfoInput">
		<xs:sequence>
			<xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo"/>
			<xs:element name="dbPrimaryUsers" type="tns:tDbUsersArray"/>
			<xs:element name="dbFormerNames" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="dbUpperDBId" type="tns:tIdDb" nillable="true" minOccurs="0"/>
			<xs:element name="dbCEOLabel" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:group ref="tns:gExtApproval"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateDataBoxPFOInfo" type="tns:tCreateDBPFOInfoInput"/>
	<xs:complexType name="tCreateDBPFOInfoOutput">
		<xs:sequence>
			<xs:element name="dbID" type="tns:tIdDb" nillable="true" minOccurs="0"/>
			<xs:element name="dbStatus" type="tns:tDbReqStatus"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateDataBoxPFOInfoResponse" type="tns:tCreateDBPFOInfoOutput"/>
</xs:schema>
