plugins/ruk/eed/server/mvcr.cz_ess_v_1.0.0.0.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://mvcr.cz/ess/v_1.0.0.0" xmlns:ns1="http://isds.czechpoint.cz/v20" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://mvcr.cz/ess/v_1.0.0.0">

<xs:import namespace="http://isds.czechpoint.cz/v20" schemaLocation="http://esstest.is.cuni.cz/ost/posta/plugins/ruk/eed/server/isds.czechpoint.cz_v20.wsdl"/>

<xs:element name="Dokument" type="tns:tDokument"/>

<xs:element name="DokumentSimple" type="tns:tDokumentSimple"/>

<xs:element name="Dokumenty">
<xs:complexType>
<xs:sequence>
<xs:element name="Dokument" type="tns:tDokument" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="DoplnujiciData">
<xs:complexType>
<xs:sequence>
<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="DoplnujiciDataSPSL">
<xs:complexType>
<xs:sequence>
<xs:element name="PID" type="xs:string" minOccurs="0"/>
<xs:element name="Stav" type="xs:string" minOccurs="0"/>
<xs:element name="SenderType" type="xs:string" minOccurs="0"/>
<xs:element name="Vyrizeni" type="tns:tVyrizeni" minOccurs="0"/>
<xs:element name="ZpusobDoruceni" type="tns:tZpusobDoruceni" minOccurs="0"/>
<xs:element name="TypDokumentu" type="tns:tTypDokumentu" minOccurs="0"/>
<xs:element name="PravniVaha" type="tns:tPravniVaha" minOccurs="0"/>
<xs:element name="PripojeneDoklady" type="tns:tPripojeneDoklady" minOccurs="0"/>
<xs:element name="Lokace" type="tns:tLokace" minOccurs="0"/>
<xs:element name="GenerujCJ" type="tns:tAnoNe" minOccurs="0"/>
<xs:element name="Nazev" type="xs:string" minOccurs="0"/>
<xs:element name="DatumVypraveni" type="xs:dateTime" minOccurs="0"/>
<xs:element name="DatumDoruceni" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="ExistentMessage" type="tns:tIdentifikator"/>

<xs:element name="GetMetadataOutput" type="tns:tGetMetadataOutput"/>

<xs:element name="Identifikatory" type="tns:tIdentifikatory"/>

<xs:element name="Soubory" type="ns1:tFilesArray"/>

<xs:element name="Spis" type="tns:tSpis"/>

<xs:element name="SpisSimple" type="tns:tSpisSimple"/>

<xs:element name="Spisy">
<xs:complexType>
<xs:sequence>
<xs:element name="Spis" type="tns:tSpis" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="Status" type="tns:spslStatus"/>

<xs:complexType name="tDokument">
<xs:sequence>
<xs:element name="Identifikator" type="tns:tIdentifikator" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Nazev" type="xs:string"/>
<xs:element name="Popis" type="xs:string" minOccurs="0"/>
<xs:element name="CisloJednaci" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovaZnacka" type="xs:string" minOccurs="0"/>
<xs:element name="PodaciDenikPoradi" type="xs:int" minOccurs="0"/>
<xs:element name="PodaciDenikRok" type="xs:gYear" minOccurs="0"/>
<xs:element name="PodaciDenik" type="xs:string" minOccurs="0"/>
<xs:element name="DatumCasVytvoreni" type="xs:dateTime"/>
<xs:element name="TypDokumentu" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovyPlan" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovyZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniLhuta" type="xs:int" minOccurs="0"/>
<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
<xs:element name="Zmocneni" type="tns:tZmocneni" minOccurs="0"/>
<xs:element name="SouvisejiciSubjekty" type="tns:tSouvisejiciSubjekty" minOccurs="0"/>
<xs:element name="DoplnujiciData" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CjOdesilatel" type="xs:string" minOccurs="0"/>
<xs:element name="Vypraveni" type="tns:tZasilka" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Doruceni" type="tns:tZasilka" minOccurs="0"/>
<xs:element name="Soubory" type="ns1:tFilesArray" minOccurs="0"/>
<xs:element name="OdkazyNaSoubory" type="tns:tFileLinksArray" minOccurs="0"/>
<xs:element name="Souvisejici" type="tns:tSouvisejiciDokument" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="DokumentGuid" type="xs:string"/>
</xs:complexType>

<xs:complexType name="tIdentifikator">
<xs:sequence>
<xs:element name="HodnotaID" type="xs:string"/>
<xs:element name="ZdrojID" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tZmocneni">
<xs:sequence>
<xs:element name="LegalTitleLaw" type="xs:integer"/>
<xs:element name="LegalTitleYear" type="xs:integer"/>
<xs:element name="LegalTitleSect" type="xs:string"/>
<xs:element name="LegalTitlePar" type="xs:string"/>
<xs:element name="LegalTitlePoint" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tSouvisejiciSubjekty">
<xs:sequence>
<xs:element name="SouvisejiciSubjekt" type="tns:tSouvisejiciSubjekt" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tSouvisejiciSubjekt">
<xs:sequence>
<xs:element name="Subjekt" type="tns:tSubjekt"/>
<xs:element name="Duvodvazby" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tSubjekt">
<xs:sequence>
<xs:element name="Identifikator" type="tns:tIdentifikator" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TypSubjektu" type="xs:string"/>
<xs:element name="ObchodniNazev" type="xs:string" minOccurs="0"/>
<xs:element name="IC" type="xs:string" minOccurs="0"/>
<xs:element name="DatumNarozeni" type="xs:date" minOccurs="0"/>
<xs:element name="MistoNarozeni" type="xs:string" minOccurs="0"/>
<xs:element name="Jmeno" type="xs:string" minOccurs="0"/>
<xs:element name="Prijmeni" type="xs:string" minOccurs="0"/>
<xs:element name="Osloveni" type="xs:string" minOccurs="0"/>
<xs:element name="TitulPred" type="xs:string" minOccurs="0"/>
<xs:element name="TitulZa" type="xs:string" minOccurs="0"/>
<xs:element name="FunkceUtvarPopis" type="xs:string" minOccurs="0"/>
<xs:element name="FunkceUtvarIdentifikator" type="xs:string" minOccurs="0"/>
<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
<xs:element name="Adresy" type="tns:tAdresy" minOccurs="0"/>
<xs:element name="DoplnujiciData" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tAdresy">
<xs:sequence>
<xs:element name="AdresaPostovni" type="tns:tAdresaPostovni" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AdresaDS" type="tns:tAdresaDS" minOccurs="0"/>
<xs:element name="AdresaElektronicka" type="tns:tAdresaElektronicka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tAdresaPostovni">
<xs:sequence>
<xs:element name="Identifikator" type="tns:tIdentifikator" minOccurs="0"/>
<xs:element name="Obec" type="xs:string" minOccurs="0"/>
<xs:element name="CastObce" type="xs:string" minOccurs="0"/>
<xs:element name="MestskaCast" type="xs:string" minOccurs="0"/>
<xs:element name="Ulice" type="xs:string" minOccurs="0"/>
<xs:element name="EvidencniCislo" type="xs:string" minOccurs="0"/>
<xs:element name="OrientacniCislo" type="xs:string" minOccurs="0"/>
<xs:element name="PopisneCislo" type="xs:string" minOccurs="0"/>
<xs:element name="Psc" type="xs:string" minOccurs="0"/>
<xs:element name="Zeme" type="xs:string" minOccurs="0"/>
<xs:element name="RuianVazba" type="xs:string" minOccurs="0"/>
<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
<xs:element name="POBOX" type="xs:string" minOccurs="0"/>
<xs:element name="TypAdresy" type="xs:string" minOccurs="0"/>
<xs:element name="DodaciPosta" type="xs:string" minOccurs="0"/>
<xs:element name="Okres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tAdresaDS">
<xs:sequence>
<xs:element name="IdDb" type="xs:string"/>
<xs:element name="OrgUnitNum" type="xs:integer" minOccurs="0"/>
<xs:element name="OrgUnit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tAdresaElektronicka">
<xs:sequence>
<xs:element name="Identifikator" type="tns:tIdentifikator" minOccurs="0"/>
<xs:element name="Typ" type="xs:string"/>
<xs:element name="Kontakt" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tZasilkaInfo">
<xs:sequence>
<xs:element name="TextAdresy" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AdresaRadek1" type="xs:string"/>
<xs:element name="AdresaRadek2" type="xs:string"/>
<xs:element name="AdresaRadek3" type="xs:string"/>
<xs:element name="AdresaRadek4" type="xs:string"/>
<xs:element name="AdresaRadek5" type="xs:string"/>
<xs:element name="AdresaRadek6" type="xs:string"/>
<xs:element name="AdresaRadek7" type="xs:string"/>
<xs:element name="AdresaRadek8" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ZpusobManipulaceId" type="xs:string" minOccurs="0"/>
<xs:element name="ZpusobManipulaceText" type="xs:string" minOccurs="0"/>
<xs:element name="ZpusobZachazeniId" type="xs:string" minOccurs="0"/>
<xs:element name="ZpusobZachazeniText" type="xs:string" minOccurs="0"/>
<xs:element name="DruhZasilkyId" type="xs:string" minOccurs="0"/>
<xs:element name="DruhZasilkyText" type="xs:string" minOccurs="0"/>
<xs:element name="DatumVypraveni" type="xs:date" minOccurs="0"/>
<xs:element name="Vaha" type="xs:decimal" minOccurs="0"/>
<xs:element name="Poplatek" type="xs:decimal" minOccurs="0"/>
<xs:element name="PodaciCislo" type="xs:string" minOccurs="0"/>
<xs:element name="IdZasilky" type="xs:string" minOccurs="0"/>
<xs:element name="StavZasilky" type="xs:string" minOccurs="0"/>
<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
<xs:element name="DatumDoruceni" type="xs:date" minOccurs="0"/>
<xs:element name="Soubory" type="ns1:tFilesArray" minOccurs="0"/>
<xs:element name="OdkazyNaSoubory" type="tns:tFileLinksArray" minOccurs="0"/>
<xs:element name="dmID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tFileLinksArray">
<xs:sequence>
<xs:element name="FileLink" type="tns:tFileLink" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tFileLink">
<xs:sequence/>
<xs:attribute name="dmFileMetaType" type="xs:string" use="required"/>
<xs:attribute name="dmFileGuid" type="xs:string"/>
<xs:attribute name="dmUpFileGuid" type="xs:string"/>
<xs:attribute name="dmFileDescr" type="xs:string"/>
</xs:complexType>

<xs:complexType name="tAdresa">
<xs:sequence>
<xs:element name="AdresaPostovni" type="tns:tAdresaPostovni" minOccurs="0"/>
<xs:element name="AdresaDS" type="tns:tAdresaDS" minOccurs="0"/>
<xs:element name="AdresaElektronicka" type="tns:tAdresaElektronicka" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tSouvisejiciDokument">
<xs:sequence>
<xs:element name="DokumentGuid" type="xs:string"/>
<xs:element name="DuvodId" type="xs:string"/>
<xs:element name="DuvodText" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="spslStatus">
<xs:sequence>
<xs:element name="StatusCode" type="xs:string"/>
<xs:element name="StatusMessage" type="xs:string"/>
<xs:element name="PID" type="xs:string" minOccurs="0"/>
<xs:element name="Identifikatory" type="tns:tIdentifikatory" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tIdentifikatory">
<xs:sequence>
<xs:element name="Identifikator" type="tns:tIdentifikator" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tZasilka">
<xs:sequence>
<xs:element name="Odesilatel" type="tns:tAdresat" minOccurs="0"/>
<xs:element name="Adresat" type="tns:tAdresat" minOccurs="0"/>
<xs:element name="ZasilkaInfo" type="tns:tZasilkaInfo"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tAdresat">
<xs:sequence>
<xs:element name="Subjekt" type="tns:tSubjekt"/>
<xs:element name="Adresa" type="tns:tAdresa"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tInsDataOutput">
<xs:sequence>
<xs:element name="Stav" type="tns:tStav"/>
<xs:element name="FileLinkExt" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:tFileLink">
<xs:sequence/>
<xs:attribute name="dmFileSize" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStav">
<xs:sequence>
<xs:element name="kod" type="xs:string"/>
<xs:element name="zprava" type="xs:string"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tSpisSimple">
<xs:sequence>
<xs:element name="Identifikatory" type="tns:tIdentifikatory"/>
<xs:element name="SpisovaZnacka" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovyZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniLhuta" type="xs:int" minOccurs="0"/>
<xs:element name="Vyrizeni" type="tns:tVyrizeni" minOccurs="0"/>
<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
<xs:element name="PlatiOd" type="xs:anySimpleType"/>
<xs:element name="PlatiDo" type="xs:anySimpleType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tVyrizeni">
<xs:sequence>
<xs:element name="DatVyrPozad" type="xs:date" minOccurs="0"/>
<xs:element name="ZodpOsobaId" type="xs:integer" minOccurs="0"/>
<xs:element name="ZodpOsobaText" type="xs:string" minOccurs="0"/>
<xs:element name="Vyrizeno" type="tns:tVyrizeno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tVyrizeno">
<xs:sequence>
<xs:element name="DatVyrSkut" type="xs:date"/>
<xs:element name="ZpusobVyrId" type="xs:integer" minOccurs="0"/>
<xs:element name="ZpusobVyrText" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tSpis">
<xs:sequence>
<xs:element name="Identifikator" type="tns:tIdentifikator" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Nazev" type="xs:string"/>
<xs:element name="Popis" type="xs:string" minOccurs="0"/>
<xs:element name="CisloJednaci" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovaZnacka" type="xs:string" minOccurs="0"/>
<xs:element name="PodaciDenikPoradi" type="xs:int" minOccurs="0"/>
<xs:element name="PodaciDenikRok" type="xs:gYear" minOccurs="0"/>
<xs:element name="PodaciDenik" type="xs:string" minOccurs="0"/>
<xs:element name="DatumCasVytvoreni" type="xs:dateTime"/>
<xs:element name="TypDokumentu" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovyPlan" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovyZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniLhuta" type="xs:int" minOccurs="0"/>
<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
<xs:element name="Zmocneni" type="tns:tZmocneni" minOccurs="0"/>
<xs:element name="SouvisejiciSubjekty" type="tns:tSouvisejiciSubjekty" minOccurs="0"/>
<xs:element name="DoplnujiciData" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="VlozeneDokumenty" type="tns:tVlozeneDokumenty"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tVlozeneDokumenty">
<xs:sequence>
<xs:element name="VlozenyDokument" type="tns:tVlozenyDokument" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tVlozenyDokument">
<xs:sequence>
<xs:element name="Dokument" type="tns:tDokument"/>
<xs:element name="PoradiVeSpisu" type="xs:int"/>
<xs:element name="StavZarazeniDoSpisu" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tDokumentSimple">
<xs:sequence>
<xs:element name="Identifikatory" type="tns:tIdentifikatory"/>
<xs:element name="Predmet" type="xs:string" minOccurs="0"/>
<xs:element name="CisloJednaci" type="xs:string" minOccurs="0"/>
<xs:element name="SpisovyZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniZnak" type="xs:string" minOccurs="0"/>
<xs:element name="SkartacniLhuta" type="xs:int" minOccurs="0"/>
<xs:element name="Vyrizeni" type="tns:tVyrizeni" minOccurs="0"/>
<xs:element name="AkceDokumentSpis" type="tns:tAkceDokumentSpis" minOccurs="0"/>
<xs:element name="Poznamka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tAkceDokumentSpis">
<xs:sequence>
<xs:element name="Identifikator" type="tns:tIdentifikator"/>
<xs:element name="StavZarazeniDoSpisu" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tGetMetadataOutput">
<xs:sequence>
<xs:element name="Spis" type="tns:tSpis" minOccurs="0"/>
<xs:element name="Dokument" type="tns:tDokument" minOccurs="0"/>
<xs:element name="Status" type="tns:spslStatus"/>
<xs:element name="StavList" type="tns:tStavList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStavList">
<xs:sequence>
<xs:element name="Stav" type="tns:tStav" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="LStav" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="tZpusobDoruceni">
<xs:sequence>
<xs:element name="ZpusobDoruceniId" type="xs:integer" minOccurs="0"/>
<xs:element name="ZpusobDoruceniText" type="xs:string" minOccurs="0"/>
<xs:element name="DorucovaciCesta" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tTypDokumentu">
<xs:sequence>
<xs:element name="TypDokumentuId" type="xs:integer" minOccurs="0"/>
<xs:element name="TypDokumentuText" type="xs:string" minOccurs="0"/>
<xs:element name="FormaDokumentu" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tPravniVaha">
<xs:sequence>
<xs:element name="PravniVahaId" type="xs:string" minOccurs="0"/>
<xs:element name="PravniVahaText" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tPripojeneDoklady">
<xs:sequence>
<xs:element name="PripojenyDoklad" type="tns:tPripojenyDoklad" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tPripojenyDoklad">
<xs:sequence>
<xs:element name="EkjId" type="xs:integer"/>
<xs:element name="UlohaId" type="xs:string"/>
<xs:element name="DokladId" type="xs:integer"/>
<xs:element name="DokladIdExt" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tLokace">
<xs:sequence>
<xs:element name="SpisovyUzelId" type="xs:integer"/>
<xs:element name="SpisovyUzelText" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tGetDataOutput">
<xs:sequence>
<xs:element name="Files" type="ns1:tFilesArray" minOccurs="0"/>
<xs:element name="StavList" type="tns:tStavList"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStavPrenosu">
<xs:sequence>
<xs:element name="DokumentGuide" type="xs:string" minOccurs="0"/>
<xs:element name="StavData" type="tns:tStav" minOccurs="0"/>
<xs:element name="StavMetaData" type="tns:spslStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dokumentyStavPrenosu">
<xs:sequence>
<xs:element name="Stav" type="tns:tStav" minOccurs="0"/>
<xs:element name="Seznam" type="tns:tListOfStavPrenosu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tListOfStavPrenosu">
<xs:sequence>
<xs:element name="stavPrenosu" type="tns:tStavPrenosu" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStatusList">
<xs:sequence>
<xs:element name="Status" type="tns:spslStatus" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="tAnoNe">
<xs:restriction base="xs:string">
<xs:enumeration value="A"/>
<xs:enumeration value="N"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>